In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 1.. How to read data using sqlite3 !

#### Columns description

1. url contains the url of the restaurant in the zomato website

2. address contains the address of the restaurant in Bengaluru

3. name contains the name of the restaurant

4. online_order whether online ordering is available in the restaurant or not

5. book_table table book option available or not

6. rate contains the overall rating of the restaurant out of 5

7. votes contains total number of rating for the restaurant as of the above mentioned date

8. phone contains the phone number of the restaurant

9. location contains the neighborhood in which the restaurant is located

10. rest_type restaurant type

11. dish_liked dishes people liked in the restaurant

12. cuisines food styles, separated by comma

13. approx_cost(for two people) contains the approximate cost for meal for two people

14. reviews_list list of tuples containing reviews for the restaurant, each tuple

15. menu_item contains list of menus available in the restaurant

16. listed_in(type) type of meal

17. listed_in(city) contains the neighborhood in which the restaurant is listed

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import pandas as pd
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objs as go

In [ ]:
# very first u have to create a SQL connection to our SQLite database
con = sqlite3.connect(r"/content/drive/MyDrive/zomato/zomato_rawdata.sqlite")

In [ ]:
#### check online its table name on https://sqliteonline.com/
pd.read_sql_query("SELECT * FROM Users" , con).head(2)

,index,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari

In [ ]:
df = pd.read_sql_query("SELECT * FROM Users" , con)

In [ ]:
df.shape

(51717, 18)

In [ ]:
df.columns

Index(['index', 'url', 'address', 'name', 'online_order', 'book_table', 'rate',
       'votes', 'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

## 2.. how to deal with missing values ? 

    its not good to drop missing value right now as we might loose important info , so 
    we will deal with it depending upon the problem statements ..

In [ ]:
df.head(2)

,index,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari

In [ ]:
df.isnull().sum()

index                              0
url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [ ]:
df.isnull().sum()/len(df)*100

index                           0.000000
url                             0.000000
address                         0.000000
name                            0.000000
online_order                    0.000000
book_table                      0.000000
rate                           15.033741
votes                           0.000000
phone                           2.335789
location                        0.040606
rest_type                       0.438927
dish_liked                     54.291626
cuisines                        0.087012
approx_cost(for two people)     0.669026
reviews_list                    0.000000
menu_item                       0.000000
listed_in(type)                 0.000000
listed_in(city)                 0.000000
dtype: float64

-->> As we notice around 50 % of data will be lost if we delete the nan values in dish_liked column We will keep that column for now..
        
-->> let's check for rate column as it contains 15% of its points as null value which is one of the most important feature..

In [ ]:
df['rate'].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', None, '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

    -->> 1... So, Now we found this column has 'NEW' ,"-" values which should replaced by zero or np.nan 
            after having conversation with Domain Experts..

    -->> 2...there are values as '3.8/5' instead of 3.8 , i.e. we have to fix this ..

#### so lets replace 'NEW' & '-' with np.nan or with "missing value" ,so that we can fill later it with some value..

In [ ]:
df['rate'].replace(('NEW' , '-') , np.nan , inplace=True)

In [ ]:
df['rate'].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', nan, '2.9/5', '3.5/5', None, '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

####  we need rating as 4.1 not as '4.1/5' , ie we need to fix it ..

In [ ]:
"4.1/5".split('/')[0]

'4.1'

In [ ]:
type("4.1/5".split('/')[0])

str

In [ ]:
float("4.1/5".split('/')[0])

4.1

In [ ]:
df['rate'] = df['rate'].apply(lambda x : float(x.split('/')[0]) if type(x)==str else x)

In [ ]:
df['rate']

0        4.1
1        4.1
2        3.8
3        3.7
4        3.8
        ...
51712    3.6
51713    NaN
51714    NaN
51715    4.3
51716    3.4
Name: rate, Length: 51717, dtype: float64

## 3.. Is there a relation between online order option and rating of the restaurant ?

1. lets find out relation b/w rating & online_order
2. ie how many restaurants that have rating 0 , 1 , 1.2 , 1.4 , 1.6--- & that accepts online_order & do not accept order
3. for such problem statement , we will create frequency tables..

In [ ]:
x = pd.crosstab(df['rate'] , df['online_order'])

In [ ]:
x

online_order    No   Yes
rate
1.8              5     0
2.0             11     0
2.1              9    15
2.2             10    16
2.3             29    22
2.4             36    34
2.5             38    63
2.6             83   177
2.7            141   166
2.8            224   376
2.9            314   488
3.0            439   584
3.1            587   974
3.2            829  1044
3.3           1137  1173
3.4           1024  1452
3.5           1090  1694
3.6           1090  2226
3.7           1172  2649
3.8           1147  2726
3.9           1017  2955
4.0            874  2309
4.1            843  2105
4.2            648  1536
4.3            692  1001
4.4            374   773
4.5            297   359
4.6            140   160
4.7            113    54
4.8             34    32
4.9             12    43

In [ ]:
fig = px.bar(x, barmode='stack')  ## stacked=True gives basically stacked bar chart
fig.show()

lets modify above visual & get better results/inferences..

In [ ]:
x

online_order    No   Yes
rate
1.8              5     0
2.0             11     0
2.1              9    15
2.2             10    16
2.3             29    22
2.4             36    34
2.5             38    63
2.6             83   177
2.7            141   166
2.8            224   376
2.9            314   488
3.0            439   584
3.1            587   974
3.2            829  1044
3.3           1137  1173
3.4           1024  1452
3.5           1090  1694
3.6           1090  2226
3.7           1172  2649
3.8           1147  2726
3.9           1017  2955
4.0            874  2309
4.1            843  2105
4.2            648  1536
4.3            692  1001
4.4            374   773
4.5            297   359
4.6            140   160
4.7            113    54
4.8             34    32
4.9             12    43

In [ ]:
## axis = 1 means summation across rows... , as by-default it is axis is 0

rate
1.8       5.0
2.0      11.0
2.1      24.0
2.2      26.0
2.3      51.0
2.4      70.0
2.5     101.0
2.6     260.0
2.7     307.0
2.8     600.0
2.9     802.0
3.0    1023.0
3.1    1561.0
3.2    1873.0
3.3    2310.0
3.4    2476.0
3.5    2784.0
3.6    3316.0
3.7    3821.0
3.8    3873.0
3.9    3972.0
4.0    3183.0
4.1    2948.0
4.2    2184.0
4.3    1693.0
4.4    1147.0
4.5     656.0
4.6     300.0
4.7     167.0
4.8      66.0
4.9      55.0
dtype: float64

In [ ]:
## we need Floating division of dataframe or normalized values of x dataframe across rows..just call x.div() & set axis=0
## div is a in-built function of pandas designed for dataframe data-structure..
x.sum(axis=1).astype(float)
normalize_df = x.div(x.sum(axis=1).astype(float) , axis=0)
## lets multiply each value by 100 so that we will get much better results in % !
## stacked=True gives basically stacked bar chart


data = [go.Bar(x=normalize_df.index, y=normalize_df[col]*100, name=col) for col in normalize_df.columns]

layout = go.Layout(barmode='stack')

fig = go.Figure(data=data, layout=layout)

fig.show()

**Observation**:: 

"From the data, it can be observed that for most instances with a rating of more than 4, restaurants that accept online orders have received a higher number of ratings compared to those that do not accept online orders.

## 4.. Data Cleaning to perform Text Analysis 
    Perform Text Analysis.. ie analysing customer reviews of Quick Bites restaurant :

## ways to do it..

    a) using wordcloud
    
        But wordcloud will not give a clear cut , how important words are
        So lets use a concept of frequency over here...
        
    b) using plots/charts-- where each word have some frequency..

### b) using plots/charts
    We need Pre-processed data so that we can plot charts
    ie  (Biryani , 10K)
        (Chicken , 15K)
        etc..

In [ ]:
df['rest_type'].isnull().sum()

227

In [ ]:
data = df.dropna(subset=['rest_type'])

In [ ]:
data['rest_type'].isnull().sum()

0

In [ ]:
data['rest_type'].unique()

array(['Casual Dining', 'Cafe, Casual Dining', 'Quick Bites',
       'Casual Dining, Cafe', 'Cafe', 'Quick Bites, Cafe',
       'Cafe, Quick Bites', 'Delivery', 'Mess', 'Dessert Parlor',
       'Bakery, Dessert Parlor', 'Pub', 'Bakery', 'Takeaway, Delivery',
       'Fine Dining', 'Beverage Shop', 'Sweet Shop', 'Bar',
       'Beverage Shop, Quick Bites', 'Confectionery',
       'Quick Bites, Beverage Shop', 'Dessert Parlor, Sweet Shop',
       'Bakery, Quick Bites', 'Sweet Shop, Quick Bites', 'Kiosk',
       'Food Truck', 'Quick Bites, Dessert Parlor',
       'Beverage Shop, Dessert Parlor', 'Takeaway', 'Pub, Casual Dining',
       'Casual Dining, Bar', 'Dessert Parlor, Beverage Shop',
       'Quick Bites, Bakery', 'Dessert Parlor, Quick Bites',
       'Microbrewery, Casual Dining', 'Lounge', 'Bar, Casual Dining',
       'Food Court', 'Cafe, Bakery', 'Dhaba', 'Quick Bites, Sweet Shop',
       'Microbrewery', 'Food Court, Quick Bites', 'Pub, Bar',
       'Casual Dining, Pub', 'Lounge, Bar', 'Food Court, Dessert Parlor',
       'Casual Dining, Sweet Shop', 'Food Court, Casual Dining',
       'Casual Dining, Microbrewery', 'Sweet Shop, Dessert Parlor',
       'Bakery, Beverage Shop', 'Lounge, Casual Dining',
       'Cafe, Food Court', 'Beverage Shop, Cafe', 'Cafe, Dessert Parlor',
       'Dessert Parlor, Cafe', 'Dessert Parlor, Bakery',
       'Microbrewery, Pub', 'Bakery, Food Court', 'Club',
       'Quick Bites, Food Court', 'Bakery, Cafe', 'Bar, Cafe',
       'Pub, Cafe', 'Casual Dining, Irani Cafee', 'Fine Dining, Lounge',
       'Bar, Quick Bites', 'Bakery, Kiosk', 'Pub, Microbrewery',
       'Microbrewery, Lounge', 'Fine Dining, Microbrewery',
       'Fine Dining, Bar', 'Mess, Quick Bites', 'Dessert Parlor, Kiosk',
       'Bhojanalya', 'Casual Dining, Quick Bites', 'Pop Up', 'Cafe, Bar',
       'Casual Dining, Lounge', 'Bakery, Sweet Shop', 'Microbrewery, Bar',
       'Cafe, Lounge', 'Bar, Pub', 'Lounge, Cafe', 'Club, Casual Dining',
       'Quick Bites, Mess', 'Quick Bites, Meat Shop',
       'Quick Bites, Kiosk', 'Lounge, Microbrewery',
       'Food Court, Beverage Shop', 'Dessert Parlor, Food Court',
       'Bar, Lounge'], dtype=object)

### if we need whole data of 'Quick Bites' restaurant , we can use below code :

In [ ]:
### extracting data of 'Quick Bites' only ..
quick_bites_df = data[data['rest_type'].str.contains('Quick Bites')]

In [ ]:
quick_bites_df.shape

(20639, 18)

In [ ]:
quick_bites_df.columns

Index(['index', 'url', 'address', 'name', 'online_order', 'book_table', 'rate',
       'votes', 'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

        How to Perform Data Pre-processing to pre-process this data..
        Steps-->>
            a) Perform Lower-case operation
            b) Do tokenization
            c) Removal of stopwords from data
            d) Store your entire data in the list so that we can commpute frequency of each word
            e) Do plotting , using Unigram  , bigram & Trigram analysis..

a) Perform Lower-case operation

In [ ]:
quick_bites_df['reviews_list']

3        [('Rated 4.0', "RATED\n  Great food and proper...
23       [('Rated 4.0', "RATED\n  So, went here with fr...
26       [('Rated 5.0', 'RATED\n  please provide some e...
31       [('Rated 1.0', "RATED\n  Worst restaurant ever...
34       [('Rated 3.0', 'RATED\n  Not worth for the mon...
                               ...
51641    [('Rated 2.0', "RATED\n  Food is not upto the ...
51642                                                   []
51643                                                   []
51644                                                   []
51645    [('Rated 5.0', "RATED\n  I was randomly lookin...
Name: reviews_list, Length: 20639, dtype: object

In [ ]:
# Converting all the text to lowercase
quick_bites_df['reviews_list'] = quick_bites_df['reviews_list'].apply(lambda x:x.lower())

<ipython-input-39-2fbeed29670c>:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

b) Do tokenization

In [ ]:
from nltk.corpus import RegexpTokenizer

In [ ]:
##  Creating a regular expression tokenizer that have only alphabets , ie remove all the special characters
# This will return separate words (tokens) from the text in the form of list

tokenizer = RegexpTokenizer("[a-zA-Z]+")

In [ ]:
tokenizer

RegexpTokenizer(pattern='[a-zA-Z]+', gaps=False, discard_empty=True, flags=re.UNICODE|re.MULTILINE|re.DOTALL)

In [ ]:
## tokenize data of third review
tokenizer.tokenize(quick_bites_df['reviews_list'][3])

['rated',
 'rated',
 'n',
 'great',
 'food',
 'and',
 'proper',
 'karnataka',
 'style',
 'full',
 'meals',
 'been',
 'there',
 'twice',
 'and',
 'was',
 'fully',
 'satisfied',
 'will',
 'give',
 'stars',
 'if',
 'it',
 's',
 'well',
 'managed',
 'rated',
 'rated',
 'n',
 'reached',
 'the',
 'place',
 'at',
 'pm',
 'on',
 'saturday',
 'half',
 'of',
 'the',
 'items',
 'on',
 'the',
 'menu',
 'were',
 'over',
 'what',
 'was',
 'annoying',
 'was',
 'is',
 'the',
 'food',
 'was',
 'cold',
 'the',
 'taste',
 'was',
 'also',
 'very',
 'average',
 'only',
 'dosa',
 'and',
 'holige',
 'were',
 'good',
 'there',
 'were',
 'very',
 'few',
 'people',
 'in',
 'the',
 'restaurant',
 'and',
 'the',
 'service',
 'was',
 'still',
 'very',
 'slow',
 'the',
 'waiters',
 'were',
 'all',
 'standing',
 'in',
 'one',
 'corner',
 'and',
 'talking',
 'had',
 'to',
 'call',
 'them',
 'repeatedly',
 'rated',
 'rated',
 'n',
 'had',
 'been',
 'here',
 'good',
 'food',
 'served',
 'and',
 'tasty',
 'good',
 'place',
 'to',
 'go',
 'with',
 'freinds',
 'and',
 'family',
 'should',
 'be',
 'first',
 'to',
 'get',
 'served',
 'well',
 'with',
 'all',
 'food',
 'one',
 'of',
 'the',
 'good',
 'hotel',
 'there',
 'for',
 'this',
 'price',
 'rated',
 'rated',
 'n',
 'how',
 'can',
 'a',
 'udupi',
 'restaurant',
 'be',
 'so',
 'dirty',
 'the',
 'floor',
 'the',
 'walls',
 'the',
 'waiters',
 'are',
 'all',
 'stained',
 'in',
 'food',
 'why',
 'cant',
 'they',
 'clean',
 'it',
 'the',
 'floor',
 'even',
 'had',
 'decorative',
 'colour',
 'paper',
 'every',
 'where',
 'and',
 'lot',
 'of',
 'food',
 'now',
 'coming',
 'to',
 'the',
 'taste',
 'of',
 'the',
 'food',
 'it',
 'was',
 'pretty',
 'decent',
 'for',
 'what',
 'they',
 'chargw',
 'what',
 'upset',
 'us',
 'was',
 'the',
 'menu',
 'says',
 'they',
 'serve',
 'thambuli',
 'two',
 'variety',
 'of',
 'rice',
 'etc',
 'but',
 'they',
 'were',
 'all',
 'over',
 'at',
 'but',
 'they',
 'still',
 'charged',
 'us',
 'full',
 'amount',
 'lastly',
 'if',
 'u',
 'r',
 'ok',
 'to',
 'b',
 'seated',
 'with',
 'random',
 'people',
 'and',
 'adjust',
 'with',
 'their',
 'table',
 'manners',
 'burrping',
 'etc',
 'then',
 'tis',
 'place',
 'is',
 'decent',
 'for',
 'a',
 'quick',
 'veg',
 'udupi',
 'meals',
 'rated',
 'rated',
 'n',
 'aadhuri',
 'udupi',
 'bhojana',
 'is',
 'one',
 'of',
 'the',
 'best',
 'vegetarian',
 'hotel',
 'in',
 'and',
 'around',
 'banashankari',
 'locality',
 'nwere',
 'we',
 'can',
 'enjoy',
 'the',
 'authentic',
 'south',
 'karnataka',
 'style',
 'food',
 'rated',
 'rated',
 'n',
 'one',
 'of',
 'the',
 'best',
 'restaurants',
 'for',
 'unlimited',
 'food',
 'price',
 'for',
 'one',
 'full',
 'unlimited',
 'meal',
 'is',
 'and',
 'the',
 'service',
 'is',
 'awesome',
 'here',
 'if',
 'you',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 're',
 'a',
 'costalian',
 'you',
 'will',
 'love',
 'the',
 'food',
 'served',
 'here',
 'rated',
 'rated',
 'n',
 'been',
 'here',
 'a',
 'couple',
 'of',
 'times',
 'highly',
 'satisfying',
 'on',
 'both',
 'the',
 'ocassions',
 'great',
 'food',
 'decent',
 'service',
 'at',
 'price',
 'of',
 'per',
 'person',
 'it',
 'is',
 'of',
 'a',
 'great',
 'value',
 'the',
 'staff',
 'here',
 'serves',
 'in',
 'a',
 'traditional',
 'mysore',
 'style',
 'dresses',
 'the',
 'food',
 'is',
 'authentic',
 'karnataka',
 'meals',
 'i',
 'really',
 'liked',
 'the',
 'pineapple',
 'pickle',
 'chutney',
 'they',
 'serve',
 'some',
 'varities',
 'of',
 'rice',
 'of',
 'which',
 'you',
 'shouldn',
 't',
 'try',
 'all',
 'as',
 'you',
 'would',
 'already',
 'be',
 'full',
 'roti',
 'dosa',
 'were',
 'decent',
 'in',
 'the',
 'deserts',
 'payasam',
 'holige',
 'were',
 'good',
 'ni',
 'think',
 'it',
 'is',
 'one',
 'the',
 'must',
 'try',
 'places',
 'to',
 'try',
 'some',
 'authentic',
 'south',
 'food',
 'even',
 'if',
 'you',
 'have',
 'been',
 'to',
 'the',
 'likes',
 'of',
 'kamath',
 'etc',
 'this',
 'one',
 'is',
 'a',
 'little',
 'different',
 'rated',
 'rated',
 'n',
 'very',
 'good',
 'restorent',
 'good',
 'south',
 'indian',
 'food',
 'very',
 'nice',
 'all',
 'food',
 's',
 'are',
 'good',
 'we',
 'spent',
 'good',
 'time',
 'and',
 'food',
 'in',
 'this',
 'hotel',
 'value',
 'of',
 'money',
 'we',
 'loved',
 'it',
 'rated',
 'rated',
 'n',
 'i',
 'went',
 'to',
 'this',
 'restaurant',
 'on',
 'sunday',
 'afternoon',
 'it',
 'was',
 'a',
 'bit',
 'crowded',
 'n',
 'nits',
 'located',
 'in',
 'the',
 'st',
 'floor',
 'above',
 'anna',
 'kuteera',
 'kathriguppe',
 'n',
 'nyou',
 'need',
 'to',
 'take',
 'food',
 'coupon',
 'in',
 'the',
 'ground',
 'floor',
 'itself',
 'nit',
 'was',
 'rs',
 'n',
 'ntaste',
 'wise',
 'it',
 'was',
 'good',
 'nservice',
 'was',
 'slow',
 'nnothing',
 'exciting',
 'different',
 'in',
 'the',
 'menu',
 'nwhatever',
 'they',
 'serve',
 'its',
 'good',
 'nworth',
 'for',
 'money',
 'rated',
 'rated',
 'n',
 'awesome',
 'place',
 'worth',
 'with',
 'price',
 'quality',
 'quantity',
 'service',
 'hygiene',
 'and',
 'discipline',
 'i',
 'loved',
 'it',
 'wish',
 'there',
 'were',
 'more',
 'rating',
 'stars',
 'to',
 'give',
 'i',
 'give',
 'on',
 'for',
 'sure',
 'rated',
 'rated',
 'n',
 'nice',
 'food',
 'good',
 'ambiance',
 'so',
 'many',
 'verity',
 'of',
 'food',
 'this',
 'time',
 'i',
 'was',
 'in',
 'hurry',
 'so',
 'next',
 'review',
 'will',
 'be',
 'detailed',
 'one',
 'its',
 'good',
 'to',
 'see',
 'all',
 'dishes',
 'at',
 'one',
 'place',
 'rated',
 'rated',
 'n',
 'the',
 'food',
 'was',
 'not',
 'satisfactory',
 'not',
 'one',
 'item',
 'served',
 'could',
 'be',
 'eaten',
 'again',
 'only',
 'advantage',
 'is',
 'the',
 'price',
 'but',
 'even',
 'that',
 'is',
 'not',
 'going',
 'to',
 'be',
 'enough',
 'to',
 'make',
 'me',
 'visit',
 'the',
 'place',
 'again',
 'dear',
 'udupi',
 'staff',
 'people',
 'wouldn',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 't',
 'mind',
 'if',
 'the',
 'food',
 'quality',
 'was',
 'better',
 'for',
 'a',
 'higher',
 'price',
 'and',
 'please',
 'get',
 'more',
 'fans',
 'so',
 'that',
 'people',
 'won',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 't',
 'have',
 'to',
 'deal',
 'with',
 'another',
 'disappointment',
 'of',
 'sweating',
 'while',
 'eating',
 'rated',
 'rated',
 'n',
 'excellent',
 'quality',
 'and',
 'taste',
 'more',
 'variety',
 'of',
 'authentic',
 'south',
 'indian',
 'food',
 'excellent',
 'service',
 'highly',
 'recommended',
 'worth',
 'the',
 'money',
 'we',
 'pay',
 'here',
 'rated',
 'rated',
 'n',
 'i',
 'm',
 'rating',
 'only',
 'because',
 'of',
 'the',
 'large',
 'number',
 'of',
 'items',
 'they',
 'serve',
 'for',
 'the',
 'price',
 'they',
 'charge',
 'while',
 'the',
 'taste',
 'is',
 'moderate',
 'the',
 'biggest',
 'turn',
 'off',
 'is',
 'the',
 'poor',
 'service',
 'and',
 'totally',
 'unresponsive',
 'staff',
 'they',
 'are',
 'either',
 'understaffed',
 'or',
 'poorly',
 'trained',
 'i',
 'didn',
 't',
 'get',
 'to',
 'taste',
 'a',
 'few',
 'items',
 'thanks',
 'to',
 'their',
 'ever',
 'busy',
 'staff',
 'and',
 'ended',
 'eating',
 'what',
 'was',
 'served',
 'please',
 'learn',
 'the',
 'crowd',
 'management',
 'from',
 'other',
 'peers',
 'like',
 'maiyya',
 'and',
 'roti',
 'ghar',
 'rated',
 'rated',
 'n',
 'one',
 'of',
 'my',
 'colleagues',
 'suggested',
 'this',
 'place',
 'went',
 'there',
 'at',
 'pm',
 'and',
 'place',
 'wasnt',
 'crowded',
 'ambience',
 'is',
 'decent',
 'and',
 'cool',
 'a',
 'welcome',
 'drink',
 'appekai',
 'saru',
 'was',
 'served',
 'then',
 'started',
 'typical',
 'baale',
 'yele',
 'uta',
 'diffrerent',
 'types',
 'of',
 'palya',
 'kosambari',
 'and',
 'sides',
 'then',
 'came',
 'masala',
 'dosa',
 'pulka',
 'pulav',
 'veg',
 'rice',
 'bath',
 'masala',
 'dosa',
 'was',
 'very',
 'very',
 'tasty',
 'service',
 'is',
 'bit',
 'fast',
 'as',
 'people',
 'will',
 'be',
 'coming',
 'but',
 'they',
 'will',
 'make',
 'it',
 'slow',
 'if',
 'u',
 'tell',
 'them',
 'to',
 'then',
 'comes',
 'rice',
 'with',
 'sambar',
 'rasam',
 'daal',
 'tambali',
 'and',
 'yes',
 'dont',
 'forget',
 'to',
 'eat',
 'holige',
 'payasam',
 'and',
 'icecream',
 'service',
 'is',
 'very',
 'nice',
 'one',
 'best',
 'thing',
 'is',
 'all',
 'of',
 'this',
 'comes',
 'in',
 'just',
 'rs',
 'and',
 'its',
 'unlimited',
 'what',
 'else',
 'you',
 'want',
 'a',
 'must',
 'visit',
 'place',
 'for',
 'south',
 'indian',
 'foodie',
 'rated',
 'rated',
 'n',
 'been',
 'here',
 'last',
 'week',
 'with',
 'high',
 'expectations',
 'based',
 'on',
 'few',
 'reviews',
 'but',
 'utterly',
 'disappointed',
 'with',
 'the',
 'food',
 'quality',
 'taste',
 'i',
 'feel',
 'it',
 's',
 'an',
 'overhyped',
 'place',
 'there',
 'are',
 'many',
 'better',
 'places',
 'in',
 'the',
 'vicinity',
 'for',
 'plantain',
 'leaf',
 'meal',
 'there',
 'was',
 'too',
 'much',
 'of',
 'waiting',
 'these',
 'staffs',
 'were',
 'too',
 'hurry',
 'in',
 'serving',
 'food',
 'asking',
 'people',
 'to',
 'finish',
 'meal',
 'leave',
 'quickly',
 'i',
 'can',
 'understand',
 'there',
 'is',
 'a',
 'waiting',
 'and',
 'staffs',
 'should',
 'approach',
 'in',
 'a',
 'positive',
 'way',
 'i',
 'will',
 'never',
 'go',
 'there',
 'again',
 'n',
 'nbangaloreepicure',
 ...]

In [ ]:
### consider some sample if don't have good specifications in your system !
sample = data[0:10000]

In [ ]:
reviews_tokens = sample['reviews_list'].apply(tokenizer.tokenize)

## 5.. Performing Unigram analysis & removal of stopwords ..

c) Removal of stopwords from data

In [ ]:
reviews_tokens

0        [Rated, RATED, n, A, beautiful, place, to, din...
1        [Rated, RATED, n, Had, been, here, for, dinner...
2        [Rated, RATED, n, Ambience, is, not, that, goo...
3        [Rated, RATED, n, Great, food, and, proper, Ka...
4        [Rated, RATED, n, Very, good, restaurant, in, ...
                               ...
10046    [Rated, RATED, n, A, simplistic, joy, for, loc...
10047                              [Rated, RATED, n, Good]
10048    [Rated, RATED, n, Vry, gud, taste, and, someth...
10049                                                   []
10050                                                   []
Name: reviews_list, Length: 10000, dtype: object

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
from nltk.corpus import stopwords

In [ ]:
# These are common words defined by Python developers that typically don't add meaning to the text and can be removed
stop = stopwords.words('english')

In [ ]:
print(stop)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

we will figure out there are some more stopwords in my data, that we can add it to my stop list

In [ ]:
# Adding custom words to stopwords 
stop.extend(['rated' , "n" , "nan" , "x" , "RATED" , "Rated"])

In [ ]:
print(stop)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't", 'rated', 'n', 'nan', 'x', 'RATED', 'Rated']

In [ ]:
### with respect to every row/list, how to remove stopwords
reviews_tokens

0        [Rated, RATED, n, A, beautiful, place, to, din...
1        [Rated, RATED, n, Had, been, here, for, dinner...
2        [Rated, RATED, n, Ambience, is, not, that, goo...
3        [Rated, RATED, n, Great, food, and, proper, Ka...
4        [Rated, RATED, n, Very, good, restaurant, in, ...
                               ...
10046    [Rated, RATED, n, A, simplistic, joy, for, loc...
10047                              [Rated, RATED, n, Good]
10048    [Rated, RATED, n, Vry, gud, taste, and, someth...
10049                                                   []
10050                                                   []
Name: reviews_list, Length: 10000, dtype: object

In [ ]:
### with respect to fourth row, how to remove stopwords
rev3 = reviews_tokens[3]
print(rev3)

['Rated', 'RATED', 'n', 'Great', 'food', 'and', 'proper', 'Karnataka', 'style', 'full', 'meals', 'Been', 'there', 'twice', 'and', 'was', 'fully', 'satisfied', 'Will', 'give', 'stars', 'if', 'it', 's', 'well', 'managed', 'Rated', 'RATED', 'n', 'Reached', 'the', 'place', 'at', 'pm', 'on', 'Saturday', 'Half', 'of', 'the', 'items', 'on', 'the', 'menu', 'were', 'over', 'What', 'was', 'annoying', 'was', 'is', 'the', 'food', 'was', 'cold', 'The', 'taste', 'was', 'also', 'very', 'average', 'Only', 'dosa', 'and', 'holige', 'were', 'good', 'There', 'were', 'very', 'few', 'people', 'in', 'the', 'restaurant', 'and', 'the', 'service', 'was', 'still', 'very', 'slow', 'The', 'waiters', 'were', 'all', 'standing', 'in', 'one', 'corner', 'and', 'talking', 'Had', 'to', 'call', 'them', 'repeatedly', 'Rated', 'RATED', 'n', 'Had', 'been', 'here', 'good', 'food', 'served', 'and', 'tasty', 'good', 'place', 'to', 'go', 'with', 'freinds', 'and', 'family', 'should', 'be', 'first', 'to', 'get', 'served', 'well', 'with', 'all', 'food', 'One', 'of', 'the', 'good', 'hotel', 'there', 'for', 'this', 'price', 'Rated', 'RATED', 'n', 'How', 'can', 'a', 'Udupi', 'restaurant', 'be', 'so', 'dirty', 'the', 'floor', 'the', 'walls', 'the', 'waiters', 'are', 'all', 'stained', 'in', 'food', 'Why', 'cant', 'they', 'clean', 'it', 'The', 'floor', 'even', 'had', 'decorative', 'colour', 'paper', 'every', 'where', 'and', 'lot', 'of', 'food', 'Now', 'coming', 'to', 'the', 'taste', 'of', 'the', 'food', 'it', 'was', 'pretty', 'decent', 'for', 'what', 'they', 'chargw', 'What', 'upset', 'us', 'was', 'the', 'menu', 'says', 'they', 'serve', 'thambuli', 'two', 'variety', 'of', 'rice', 'etc', 'but', 'they', 'were', 'all', 'over', 'at', 'but', 'they', 'still', 'charged', 'us', 'full', 'amount', 'Lastly', 'if', 'u', 'r', 'ok', 'to', 'b', 'seated', 'with', 'random', 'people', 'and', 'adjust', 'with', 'their', 'table', 'manners', 'burrping', 'etc', 'then', 'tis', 'place', 'is', 'decent', 'for', 'a', 'quick', 'veg', 'udupi', 'meals', 'Rated', 'RATED', 'n', 'Aadhuri', 'Udupi', 'bhojana', 'is', 'one', 'of', 'the', 'best', 'vegetarian', 'hotel', 'in', 'and', 'around', 'Banashankari', 'locality', 'nwere', 'we', 'can', 'enjoy', 'the', 'authentic', 'south', 'Karnataka', 'style', 'food', 'Rated', 'RATED', 'n', 'One', 'of', 'the', 'best', 'restaurants', 'for', 'unlimited', 'food', 'Price', 'for', 'one', 'full', 'unlimited', 'meal', 'is', 'and', 'the', 'service', 'is', 'awesome', 'here', 'If', 'you', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 're', 'a', 'costalian', 'you', 'will', 'love', 'the', 'food', 'served', 'here', 'Rated', 'RATED', 'n', 'Been', 'here', 'a', 'couple', 'of', 'times', 'Highly', 'satisfying', 'on', 'both', 'the', 'ocassions', 'Great', 'food', 'Decent', 'service', 'At', 'price', 'of', 'per', 'person', 'it', 'is', 'of', 'a', 'great', 'value', 'The', 'staff', 'here', 'serves', 'in', 'a', 'traditional', 'Mysore', 'style', 'dresses', 'The', 'food', 'is', 'authentic', 'Karnataka', 'meals', 'I', 'really', 'liked', 'the', 'pineapple', 'pickle', 'chutney', 'They', 'serve', 'some', 'varities', 'of', 'rice', 'of', 'which', 'you', 'shouldn', 't', 'try', 'all', 'as', 'you', 'would', 'already', 'be', 'full', 'Roti', 'Dosa', 'were', 'decent', 'In', 'the', 'deserts', 'Payasam', 'Holige', 'were', 'good', 'nI', 'think', 'it', 'is', 'one', 'the', 'must', 'try', 'places', 'to', 'try', 'some', 'authentic', 'south', 'food', 'even', 'if', 'you', 'have', 'been', 'to', 'the', 'likes', 'of', 'Kamath', 'etc', 'this', 'one', 'is', 'a', 'little', 'different', 'Rated', 'RATED', 'n', 'Very', 'good', 'restorent', 'good', 'south', 'Indian', 'food', 'very', 'nice', 'all', 'food', 's', 'are', 'good', 'we', 'spent', 'good', 'time', 'and', 'food', 'in', 'this', 'hotel', 'value', 'of', 'money', 'we', 'loved', 'it', 'Rated', 'RATED', 'n', 'I', 'went', 'to', 'this', 'restaurant', 'on', 'Sunday', 'afternoon', 'It', 'was', 'a', 'bit', 'crowded', 'n', 'nIts', 'located', 'in', 'the', 'st', 'floor', 'Above', 'anna', 'kuteera', 'kathriguppe', 'n', 'nYou', 'need', 'to', 'take', 'food', 'coupon', 'in', 'the', 'ground', 'floor', 'itself', 'nit', 'was', 'rs', 'n', 'nTaste', 'wise', 'it', 'was', 'good', 'nService', 'was', 'slow', 'nNothing', 'exciting', 'different', 'in', 'the', 'menu', 'nWhatever', 'they', 'serve', 'its', 'good', 'nWorth', 'for', 'money', 'Rated', 'RATED', 'n', 'Awesome', 'place', 'worth', 'with', 'price', 'quality', 'quantity', 'service', 'hygiene', 'and', 'discipline', 'I', 'loved', 'it', 'wish', 'there', 'were', 'more', 'rating', 'stars', 'to', 'give', 'I', 'give', 'on', 'for', 'sure', 'Rated', 'RATED', 'n', 'Nice', 'food', 'good', 'ambiance', 'so', 'many', 'verity', 'of', 'food', 'this', 'time', 'i', 'was', 'in', 'hurry', 'so', 'next', 'review', 'will', 'be', 'detailed', 'one', 'Its', 'good', 'to', 'see', 'all', 'dishes', 'at', 'one', 'place', 'Rated', 'RATED', 'n', 'The', 'food', 'was', 'not', 'satisfactory', 'Not', 'one', 'item', 'served', 'could', 'be', 'eaten', 'again', 'Only', 'advantage', 'is', 'the', 'price', 'but', 'even', 'that', 'is', 'not', 'going', 'to', 'be', 'enough', 'to', 'make', 'me', 'visit', 'the', 'place', 'again', 'Dear', 'Udupi', 'staff', 'people', 'wouldn', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 't', 'mind', 'if', 'the', 'food', 'quality', 'was', 'better', 'for', 'a', 'higher', 'price', 'and', 'please', 'get', 'more', 'fans', 'so', 'that', 'people', 'won', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 't', 'have', 'to', 'deal', 'with', 'another', 'disappointment', 'of', 'sweating', 'while', 'eating', 'Rated', 'RATED', 'n', 'Excellent', 'quality', 'and', 'taste', 'more', 'variety', 'of', 'authentic', 'south', 'Indian', 'food', 'Excellent', 'service', 'Highly', 'recommended', 'Worth', 'the', 'money', 'we', 'pay', 'here', 'Rated', 'RATED', 'n', 'I', 'm', 'rating', 'only', 'because', 'of', 'the', 'large', 'number', 'of', 'items', 'they', 'serve', 'for', 'the', 'price', 'they', 'charge', 'While', 'the', 'taste', 'is', 'moderate', 'the', 'biggest', 'turn', 'off', 'is', 'the', 'poor', 'service', 'and', 'totally', 'unresponsive', 'staff', 'They', 'are', 'either', 'understaffed', 'or', 'poorly', 'trained', 'I', 'didn', 't', 'get', 'to', 'taste', 'a', 'few', 'items', 'thanks', 'to', 'their', 'ever', 'busy', 'staff', 'and', 'ended', 'eating', 'what', 'was', 'served', 'Please', 'learn', 'the', 'crowd', 'management', 'from', 'other', 'peers', 'like', 'maiyya', 'and', 'roti', 'ghar', 'Rated', 'RATED', 'n', 'One', 'of', 'my', 'colleagues', 'suggested', 'this', 'place', 'Went', 'there', 'at', 'pm', 'and', 'place', 'wasnt', 'crowded', 'Ambience', 'is', 'decent', 'and', 'cool', 'A', 'welcome', 'drink', 'appekai', 'saru', 'was', 'served', 'Then', 'started', 'typical', 'baale', 'yele', 'uta', 'Diffrerent', 'types', 'of', 'palya', 'kosambari', 'and', 'sides', 'Then', 'came', 'masala', 'dosa', 'pulka', 'pulav', 'veg', 'rice', 'bath', 'Masala', 'dosa', 'was', 'very', 'very', 'tasty', 'Service', 'is', 'bit', 'fast', 'as', 'people', 'will', 'be', 'coming', 'but', 'they', 'will', 'make', 'it', 'slow', 'if', 'u', 'tell', 'them', 'to', 'Then', 'comes', 'rice', 'with', 'sambar', 'rasam', 'daal', 'tambali', 'And', 'yes', 'dont', 'forget', 'to', 'eat', 'holige', 'payasam', 'and', 'icecream', 'Service', 'is', 'very', 'nice', 'One', 'best', 'thing', 'is', 'all', 'of', 'this', 'comes', 'in', 'just', 'rs', 'and', 'its', 'unlimited', 'What', 'else', 'you', 'want', 'A', 'must', 'visit', 'place', 'for', 'south', 'indian', 'foodie', 'Rated', 'RATED', 'n', 'Been', 'here', 'last', 'week', 'with', 'high', 'expectations', 'based', 'on', 'few', 'reviews', 'But', 'utterly', 'disappointed', 'with', 'the', 'food', 'quality', 'taste', 'I', 'feel', 'it', 's', 'an', 'overhyped', 'place', 'There', 'are', 'many', 'better', 'places', 'in', 'the', 'vicinity', 'for', 'Plantain', 'leaf', 'meal', 'There', 'was', 'too', 'much', 'of', 'waiting', 'these', 'staffs', 'were', 'too', 'hurry', 'in', 'serving', 'food', 'asking', 'people', 'to', 'finish', 'meal', 'leave', 'quickly', 'I', 'can', 'understand', 'there', 'is', 'a', 'waiting', 'and', 'staffs', 'should', 'approach', 'in', 'a', 'positive', 'way', 'I', 'will', 'never', 'go', 'there', 'again', 'n', 'nbangaloreepicure', 'com', 'Rated', 'RATED', 'n', 'I', 'have', 'a', 'confession', 'being', 'a', 'south', 'Indian', 'I', 'distaste', 'south', 'Indian', 'food', 'not', 'that', 'I', 'hate', 'it', 'I', 'don', 't', 'like', 'it', 'either', 'But', 'still', 'made', 'up', 'my', 'mind', 'on', 'Sankaranti', 'to', 'have', 'authentic', 'south', 'Indian', 'food', 'visited', 'Adduri', 'Udupi', 'Bhojana', 'because', 'it', 'was', 'close', 'to', 'my', 'place', 'I', 'just', 'had', 'a', 'look', 'at', 'the', 'menu', 'told', 'myself', 'that', 'I', 'can', 'do', 'it', 'I', 'am', 'not', 'blessed', 'with', 'a', 'tremendous', 'appetite', 'welcomed', 'with', 'the', 'mango', 'soup', 'followed', 'by', 'the', 'wide', 'variety', 'of', 'dishes', 'served', 'I', 'have', 'developed', 'the', 'new', 'love', 'for', 'Pongal', 'both', 'sweet', 'and', 'Khara', 'I', 'can', 'still', 'feel', 'the', 'taste', 'of', 'the', 'ghee', 'bursting', 'in', 'my', 'mouth', 'but', 'it', 'was', 'kai', 'holige', 'that', 'made', 'my', 'day', 'crisp', 'and', 'soft', 'not', 'to', 'forget', 'food', 'is', 'served', 'on', 'a', 'banana', 'leaf', 'that', 'adds', 'in', 'more', 'flavor', 'and', 'taste', 'waiters', 'are', 'attentive', 'and', 'responsive', 'The', 'customer', 's', 'needs', 'are', 'monitored', 'and', 'addressed', 'so', 'much', 'variety', 'for', 'just', 'Rs', 'without', 'compromising', 'on', 'quantity', 'and', 'quality', 'and', 'yes', 'it', 'is', 'unlimited', 'This', 'visit', 'turned', 'out', 'to', 'be', 'a', 'surprise', 'package', 'Rated', 'RATED', 'n', 'Food', 'is', 'good', 'nNo', 'parking', 'nAmbience', 'is', 'average', 'nOverall', 'its', 'value', 'for', 'money', 'if', 'you', 'looking', 'for', 'south', 'Indian', 'food', 'nPreferred', 'the', 'tiffin', 'items', 'Rated', 'RATED', 'n', 'Been', 'here', 'last', 'week', 'with', 'high', 'expectations', 'based', 'on', 'few', 'reviews', 'But', 'utterly', 'disappointed', 'with', 'the', 'food', 'quality', 'taste', 'I', 'feel', 'it', 's', 'an', 'overhyped', 'place', 'There', 'are', 'many', 'better', 'places', 'in', 'the', 'vicinity', 'for', 'Plantain', 'leaf', 'meal', 'There', 'was', 'too', 'much', 'of', 'waiting', 'these', 'staffs', 'were', 'too', 'hurry', 'in', 'serving', 'food', 'asking', 'people', 'to', 'finish', 'meal', 'leave', 'quickly', 'I', 'can', 'understand', 'there', 'is', 'a', 'waiting', 'and', 'staffs', 'should', 'approach', 'in', 'a', 'positive', 'way', 'I', 'will', 'never', 'go', 'there', 'again', 'n', 'nbangaloreepicure', 'com', 'Rated', 'RATED', 'n', 'I', 'have', 'a', 'confession', 'being', 'a', 'south', 'Indian', 'I', 'distaste', 'south', 'Indian', 'food', 'not', 'that', 'I', 'hate', 'it', 'I', 'don', 't', 'like', 'it', 'either', 'But', 'still', 'made', 'up', 'my', 'mind', 'on', 'Sankaranti', 'to', 'have', 'authentic', 'south', 'Indian', 'food', 'visited', 'Adduri', 'Udupi', 'Bhojana', 'because', 'it', 'was', 'close', 'to', 'my', 'place', 'I', 'just', 'had', 'a', 'look', 'at', 'the', 'menu', 'told', 'myself', 'that', 'I', 'can', 'do', 'it', 'I', 'am', 'not', 'blessed', 'with', 'a', 'tremendous', 'appetite', 'welcomed', 'with', 'the', 'mango', 'soup', 'followed', 'by', 'the', 'wide', 'variety', 'of', 'dishes', 'served', 'I', 'have', 'developed', 'the', 'new', 'love', 'for', 'Pongal', 'both', 'sweet', 'and', 'Khara', 'I', 'can', 'still', 'feel', 'the', 'taste', 'of', 'the', 'ghee', 'bursting', 'in', 'my', 'mouth', 'but', 'it', 'was', 'kai', 'holige', 'that', 'made', 'my', 'day', 'crisp', 'and', 'soft', 'not', 'to', 'forget', 'food', 'is', 'served', 'on', 'a', 'banana', 'leaf', 'that', 'adds', 'in', 'more', 'flavor', 'and', 'taste', 'waiters', 'are', 'attentive', 'and', 'responsive', 'The', 'customer', 's', 'needs', 'are', 'monitored', 'and', 'addressed', 'so', 'much', 'variety', 'for', 'just', 'Rs', 'without', 'compromising', 'on', 'quantity', 'and', 'quality', 'and', 'yes', 'it', 'is', 'unlimited', 'This', 'visit', 'turned', 'out', 'to', 'be', 'a', 'surprise', 'package', 'Rated', 'RATED', 'n', 'Food', 'is', 'good', 'nNo', 'parking', 'nAmbience', 'is', 'average', 'nOverall', 'its', 'value', 'for', 'money', 'if', 'you', 'looking', 'for', 'south', 'Indian', 'food', 'nPreferred', 'the', 'tiffin', 'items', 'Rated', 'RATED', 'n', 'Been', 'here', 'last', 'week', 'with', 'high', 'expectations', 'based', 'on', 'few', 'reviews', 'But', 'utterly', 'disappointed', 'with', 'the', 'food', 'quality', 'taste', 'I', 'feel', 'it', 's', 'an', 'overhyped', 'place', 'There', 'are', 'many', 'better', 'places', 'in', 'the', 'vicinity', 'for', 'Plantain', 'leaf', 'meal', 'There', 'was', 'too', 'much', 'of', 'waiting', 'these', 'staffs', 'were', 'too', 'hurry', 'in', 'serving', 'food', 'asking', 'people', 'to', 'finish', 'meal', 'leave', 'quickly', 'I', 'can', 'understand', 'there', 'is', 'a', 'waiting', 'and', 'staffs', 'should', 'approach', 'in', 'a', 'positive', 'way', 'I', 'will', 'never', 'go', 'there', 'again', 'n', 'nbangaloreepicure', 'com', 'Rated', 'RATED', 'n', 'I', 'have', 'a', 'confession', 'being', 'a', 'south', 'Indian', 'I', 'distaste', 'south', 'Indian', 'food', 'not', 'that', 'I', 'hate', 'it', 'I', 'don', 't', 'like', 'it', 'either', 'But', 'still', 'made', 'up', 'my', 'mind', 'on', 'Sankaranti', 'to', 'have', 'authentic', 'south', 'Indian', 'food', 'visited', 'Adduri', 'Udupi', 'Bhojana', 'because', 'it', 'was', 'close', 'to', 'my', 'place', 'I', 'just', 'had', 'a', 'look', 'at', 'the', 'menu', 'told', 'myself', 'that', 'I', 'can', 'do', 'it', 'I', 'am', 'not', 'blessed', 'with', 'a', 'tremendous', 'appetite', 'welcomed', 'with', 'the', 'mango', 'soup', 'followed', 'by', 'the', 'wide', 'variety', 'of', 'dishes', 'served', 'I', 'have', 'developed', 'the', 'new', 'love', 'for', 'Pongal', 'both', 'sweet', 'and', 'Khara', 'I', 'can', 'still', 'feel', 'the', 'taste', 'of', 'the', 'ghee', 'bursting', 'in', 'my', 'mouth', 'but', 'it', 'was', 'kai', 'holige', 'that', 'made', 'my', 'day', 'crisp', 'and', 'soft', 'not', 'to', 'forget', 'food', 'is', 'served', 'on', 'a', 'banana', 'leaf', 'that', 'adds', 'in', 'more', 'flavor', 'and', 'taste', 'waiters', 'are', 'attentive', 'and', 'responsive', 'The', 'customer', 's', 'needs', 'are', 'monitored', 'and', 'addressed', 'so', 'much', 'variety', 'for', 'just', 'Rs', 'without', 'compromising', 'on', 'quantity', 'and', 'quality', 'and', 'yes', 'it', 'is', 'unlimited', 'This', 'visit', 'turned', 'out', 'to', 'be', 'a', 'surprise', 'package', 'Rated', 'RATED', 'n', 'Food', 'is', 'good', 'nNo', 'parking', 'nAmbience', 'is', 'average', 'nOverall', 'its', 'value', 'for', 'money', 'if', 'you', 'looking', 'for', 'south', 'Indian', 'food', 'nPreferred', 'the', 'tiffin', 'items', 'Rated', 'RATED', 'n', 'Been', 'here', 'last', 'week', 'with', 'high', 'expectations', 'based', 'on', 'few', 'reviews', 'But', 'utterly', 'disappointed', 'with', 'the', 'food', 'quality', 'taste', 'I', 'feel', 'it', 's', 'an', 'overhyped', 'place', 'There', 'are', 'many', 'better', 'places', 'in', 'the', 'vicinity', 'for', 'Plantain', 'leaf', 'meal', 'There', 'was', 'too', 'much', 'of', 'waiting', 'these', 'staffs', 'were', 'too', 'hurry', 'in', 'serving', 'food', 'asking', 'people', 'to', 'finish', 'meal', 'leave', 'quickly', 'I', 'can', 'understand', 'there', 'is', 'a', 'waiting', 'and', 'staffs', 'should', 'approach', 'in', 'a', 'positive', 'way', 'I', 'will', 'never', 'go', 'there', 'again', 'n', 'nbangaloreepicure', 'com', 'Rated', 'RATED', 'n', 'I', 'have', 'a', 'confession', 'being', 'a', 'south', 'Indian', 'I', 'distaste', 'south', 'Indian', 'food', 'not', 'that', 'I', 'hate', 'it', 'I', 'don', 't', 'like', 'it', 'either', 'But', 'still', 'made', 'up', 'my', 'mind', 'on', 'Sankaranti', 'to', 'have', 'authentic', 'south', 'Indian', 'food', 'visited', 'Adduri', 'Udupi', 'Bhojana', 'because', 'it', 'was', 'close', 'to', 'my', 'place', 'I', 'just', 'had', 'a', 'look', 'at', 'the', 'menu', 'told', 'myself', 'that', 'I', 'can', 'do', 'it', 'I', 'am', 'not', 'blessed', 'with', 'a', 'tremendous', 'appetite', 'welcomed', 'with', 'the', 'mango', 'soup', 'followed', 'by', 'the', 'wide', 'variety', 'of', 'dishes', 'served', 'I', 'have', 'developed', 'the', 'new', 'love', 'for', 'Pongal', 'both', 'sweet', 'and', 'Khara', 'I', 'can', 'still', 'feel', 'the', 'taste', 'of', 'the', 'ghee', 'bursting', 'in', 'my', 'mouth', 'but', 'it', 'was', 'kai', 'holige', 'that', 'made', 'my', 'day', 'crisp', 'and', 'soft', 'not', 'to', 'forget', 'food', 'is', 'served', 'on', 'a', 'banana', 'leaf', 'that', 'adds', 'in', 'more', 'flavor', 'and', 'taste', 'waiters', 'are', 'attentive', 'and', 'responsive', 'The', 'customer', 's', 'needs', 'are', 'monitored', 'and', 'addressed', 'so', 'much', 'variety', 'for', 'just', 'Rs', 'without', 'compromising', 'on', 'quantity', 'and', 'quality', 'and', 'yes', 'it', 'is', 'unlimited', 'This', 'visit', 'turned', 'out', 'to', 'be', 'a', 'surprise', 'package', 'Rated', 'RATED', 'n', 'Food', 'is', 'good', 'nNo', 'parking', 'nAmbience', 'is', 'average', 'nOverall', 'its', 'value', 'for', 'money', 'if', 'you', 'looking', 'for', 'south', 'Indian', 'food', 'nPreferred', 'the', 'tiffin', 'items', 'Rated', 'RATED', 'n', 'Been', 'here', 'last', 'week', 'with', 'high', 'expectations', 'based', 'on', 'few', 'reviews', 'But', 'utterly', 'disappointed', 'with', 'the', 'food', 'quality', 'taste', 'I', 'feel', 'it', 's', 'an', 'overhyped', 'place', 'There', 'are', 'many', 'better', 'places', 'in', 'the', 'vicinity', 'for', 'Plantain', 'leaf', 'meal', 'There', 'was', 'too', 'much', 'of', 'waiting', 'these', 'staffs', 'were', 'too', 'hurry', 'in', 'serving', 'food', 'asking', 'people', 'to', 'finish', 'meal', 'leave', 'quickly', 'I', 'can', 'understand', 'there', 'is', 'a', 'waiting', 'and', 'staffs', 'should', 'approach', 'in', 'a', 'positive', 'way', 'I', 'will', 'never', 'go', 'there', 'again', 'n', 'nbangaloreepicure', 'com', 'Rated', 'RATED', 'n', 'I', 'have', 'a', 'confession', 'being', 'a', 'south', 'Indian', 'I', 'distaste', 'south', 'Indian', 'food', 'not', 'that', 'I', 'hate', 'it', 'I', 'don', 't', 'like', 'it', 'either', 'But', 'still', 'made', 'up', 'my', 'mind', 'on', 'Sankaranti', 'to', 'have', 'authentic', 'south', 'Indian', 'food', 'visited', 'Adduri', 'Udupi', 'Bhojana', 'because', 'it', 'was', 'close', 'to', 'my', 'place', 'I', 'just', 'had', 'a', 'look', 'at', 'the', 'menu', 'told', 'myself', 'that', 'I', 'can', 'do', 'it', 'I', 'am', 'not', 'blessed', 'with', 'a', 'tremendous', 'appetite', 'welcomed', 'with', 'the', 'mango', 'soup', 'followed', 'by', 'the', 'wide', 'variety', 'of', 'dishes', 'served', 'I', 'have', 'developed', 'the', 'new', 'love', 'for', 'Pongal', 'both', 'sweet', 'and', 'Khara', 'I', 'can', 'still', 'feel', 'the', 'taste', 'of', 'the', 'ghee', 'bursting', 'in', 'my', 'mouth', 'but', 'it', 'was', 'kai', 'holige', 'that', 'made', 'my', 'day', 'crisp', 'and', 'soft', 'not', 'to', 'forget', 'food', 'is', 'served', 'on', 'a', 'banana', 'leaf', 'that', 'adds', 'in', 'more', 'flavor', 'and', 'taste', 'waiters', 'are', 'attentive', 'and', 'responsive', 'The', 'customer', 's', 'needs', 'are', 'monitored', 'and', 'addressed', 'so', 'much', 'variety', 'for', 'just', 'Rs', 'without', 'compromising', 'on', 'quantity', 'and', 'quality', 'and', 'yes', 'it', 'is', 'unlimited', 'This', 'visit', 'turned', 'out', 'to', 'be', 'a', 'surprise', 'package', 'Rated', 'RATED', 'n', 'Food', 'is', 'good', 'nNo', 'parking', 'nAmbience', 'is', 'average', 'nOverall', 'its', 'value', 'for', 'money', 'if', 'you', 'looking', 'for', 'south', 'Indian', 'food', 'nPreferred', 'the', 'tiffin', 'items', 'Rated', 'RATED', 'n', 'Had', 'been', 'on', 'a', 'week', 'night', 'for', 'an', 'authentic', 'south', 'Indian', 'food', 'I', 'personally', 'love', 'being', 'served', 'on', 'banyan', 'leaf', 'The', 'waiters', 'are', 'all', 'dressed', 'up', 'in', 'traditional', 'Mysore', 'attire', 'wearing', 'with', 'a', '

In [ ]:
print([token for token in rev3 if token not in stop])

['Great', 'food', 'proper', 'Karnataka', 'style', 'full', 'meals', 'Been', 'twice', 'fully', 'satisfied', 'Will', 'give', 'stars', 'well', 'managed', 'Reached', 'place', 'pm', 'Saturday', 'Half', 'items', 'menu', 'What', 'annoying', 'food', 'cold', 'The', 'taste', 'also', 'average', 'Only', 'dosa', 'holige', 'good', 'There', 'people', 'restaurant', 'service', 'still', 'slow', 'The', 'waiters', 'standing', 'one', 'corner', 'talking', 'Had', 'call', 'repeatedly', 'Had', 'good', 'food', 'served', 'tasty', 'good', 'place', 'go', 'freinds', 'family', 'first', 'get', 'served', 'well', 'food', 'One', 'good', 'hotel', 'price', 'How', 'Udupi', 'restaurant', 'dirty', 'floor', 'walls', 'waiters', 'stained', 'food', 'Why', 'cant', 'clean', 'The', 'floor', 'even', 'decorative', 'colour', 'paper', 'every', 'lot', 'food', 'Now', 'coming', 'taste', 'food', 'pretty', 'decent', 'chargw', 'What', 'upset', 'us', 'menu', 'says', 'serve', 'thambuli', 'two', 'variety', 'rice', 'etc', 'still', 'charged', 'us', 'full', 'amount', 'Lastly', 'u', 'r', 'ok', 'b', 'seated', 'random', 'people', 'adjust', 'table', 'manners', 'burrping', 'etc', 'tis', 'place', 'decent', 'quick', 'veg', 'udupi', 'meals', 'Aadhuri', 'Udupi', 'bhojana', 'one', 'best', 'vegetarian', 'hotel', 'around', 'Banashankari', 'locality', 'nwere', 'enjoy', 'authentic', 'south', 'Karnataka', 'style', 'food', 'One', 'best', 'restaurants', 'unlimited', 'food', 'Price', 'one', 'full', 'unlimited', 'meal', 'service', 'awesome', 'If', 'costalian', 'love', 'food', 'served', 'Been', 'couple', 'times', 'Highly', 'satisfying', 'ocassions', 'Great', 'food', 'Decent', 'service', 'At', 'price', 'per', 'person', 'great', 'value', 'The', 'staff', 'serves', 'traditional', 'Mysore', 'style', 'dresses', 'The', 'food', 'authentic', 'Karnataka', 'meals', 'I', 'really', 'liked', 'pineapple', 'pickle', 'chutney', 'They', 'serve', 'varities', 'rice', 'try', 'would', 'already', 'full', 'Roti', 'Dosa', 'decent', 'In', 'deserts', 'Payasam', 'Holige', 'good', 'nI', 'think', 'one', 'must', 'try', 'places', 'try', 'authentic', 'south', 'food', 'even', 'likes', 'Kamath', 'etc', 'one', 'little', 'different', 'Very', 'good', 'restorent', 'good', 'south', 'Indian', 'food', 'nice', 'food', 'good', 'spent', 'good', 'time', 'food', 'hotel', 'value', 'money', 'loved', 'I', 'went', 'restaurant', 'Sunday', 'afternoon', 'It', 'bit', 'crowded', 'nIts', 'located', 'st', 'floor', 'Above', 'anna', 'kuteera', 'kathriguppe', 'nYou', 'need', 'take', 'food', 'coupon', 'ground', 'floor', 'nit', 'rs', 'nTaste', 'wise', 'good', 'nService', 'slow', 'nNothing', 'exciting', 'different', 'menu', 'nWhatever', 'serve', 'good', 'nWorth', 'money', 'Awesome', 'place', 'worth', 'price', 'quality', 'quantity', 'service', 'hygiene', 'discipline', 'I', 'loved', 'wish', 'rating', 'stars', 'give', 'I', 'give', 'sure', 'Nice', 'food', 'good', 'ambiance', 'many', 'verity', 'food', 'time', 'hurry', 'next', 'review', 'detailed', 'one', 'Its', 'good', 'see', 'dishes', 'one', 'place', 'The', 'food', 'satisfactory', 'Not', 'one', 'item', 'served', 'could', 'eaten', 'Only', 'advantage', 'price', 'even', 'going', 'enough', 'make', 'visit', 'place', 'Dear', 'Udupi', 'staff', 'people', 'mind', 'food', 'quality', 'better', 'higher', 'price', 'please', 'get', 'fans', 'people', 'deal', 'another', 'disappointment', 'sweating', 'eating', 'Excellent', 'quality', 'taste', 'variety', 'authentic', 'south', 'Indian', 'food', 'Excellent', 'service', 'Highly', 'recommended', 'Worth', 'money', 'pay', 'I', 'rating', 'large', 'number', 'items', 'serve', 'price', 'charge', 'While', 'taste', 'moderate', 'biggest', 'turn', 'poor', 'service', 'totally', 'unresponsive', 'staff', 'They', 'either', 'understaffed', 'poorly', 'trained', 'I', 'get', 'taste', 'items', 'thanks', 'ever', 'busy', 'staff', 'ended', 'eating', 'served', 'Please', 'learn', 'crowd', 'management', 'peers', 'like', 'maiyya', 'roti', 'ghar', 'One', 'colleagues', 'suggested', 'place', 'Went', 'pm', 'place', 'wasnt', 'crowded', 'Ambience', 'decent', 'cool', 'A', 'welcome', 'drink', 'appekai', 'saru', 'served', 'Then', 'started', 'typical', 'baale', 'yele', 'uta', 'Diffrerent', 'types', 'palya', 'kosambari', 'sides', 'Then', 'came', 'masala', 'dosa', 'pulka', 'pulav', 'veg', 'rice', 'bath', 'Masala', 'dosa', 'tasty', 'Service', 'bit', 'fast', 'people', 'coming', 'make', 'slow', 'u', 'tell', 'Then', 'comes', 'rice', 'sambar', 'rasam', 'daal', 'tambali', 'And', 'yes', 'dont', 'forget', 'eat', 'holige', 'payasam', 'icecream', 'Service', 'nice', 'One', 'best', 'thing', 'comes', 'rs', 'unlimited', 'What', 'else', 'want', 'A', 'must', 'visit', 'place', 'south', 'indian', 'foodie', 'Been', 'last', 'week', 'high', 'expectations', 'based', 'reviews', 'But', 'utterly', 'disappointed', 'food', 'quality', 'taste', 'I', 'feel', 'overhyped', 'place', 'There', 'many', 'better', 'places', 'vicinity', 'Plantain', 'leaf', 'meal', 'There', 'much', 'waiting', 'staffs', 'hurry', 'serving', 'food', 'asking', 'people', 'finish', 'meal', 'leave', 'quickly', 'I', 'understand', 'waiting', 'staffs', 'approach', 'positive', 'way', 'I', 'never', 'go', 'nbangaloreepicure', 'com', 'I', 'confession', 'south', 'Indian', 'I', 'distaste', 'south', 'Indian', 'food', 'I', 'hate', 'I', 'like', 'either', 'But', 'still', 'made', 'mind', 'Sankaranti', 'authentic', 'south', 'Indian', 'food', 'visited', 'Adduri', 'Udupi', 'Bhojana', 'close', 'place', 'I', 'look', 'menu', 'told', 'I', 'I', 'blessed', 'tremendous', 'appetite', 'welcomed', 'mango', 'soup', 'followed', 'wide', 'variety', 'dishes', 'served', 'I', 'developed', 'new', 'love', 'Pongal', 'sweet', 'Khara', 'I', 'still', 'feel', 'taste', 'ghee', 'bursting', 'mouth', 'kai', 'holige', 'made', 'day', 'crisp', 'soft', 'forget', 'food', 'served', 'banana', 'leaf', 'adds', 'flavor', 'taste', 'waiters', 'attentive', 'responsive', 'The', 'customer', 'needs', 'monitored', 'addressed', 'much', 'variety', 'Rs', 'without', 'compromising', 'quantity', 'quality', 'yes', 'unlimited', 'This', 'visit', 'turned', 'surprise', 'package', 'Food', 'good', 'nNo', 'parking', 'nAmbience', 'average', 'nOverall', 'value', 'money', 'looking', 'south', 'Indian', 'food', 'nPreferred', 'tiffin', 'items', 'Been', 'last', 'week', 'high', 'expectations', 'based', 'reviews', 'But', 'utterly', 'disappointed', 'food', 'quality', 'taste', 'I', 'feel', 'overhyped', 'place', 'There', 'many', 'better', 'places', 'vicinity', 'Plantain', 'leaf', 'meal', 'There', 'much', 'waiting', 'staffs', 'hurry', 'serving', 'food', 'asking', 'people', 'finish', 'meal', 'leave', 'quickly', 'I', 'understand', 'waiting', 'staffs', 'approach', 'positive', 'way', 'I', 'never', 'go', 'nbangaloreepicure', 'com', 'I', 'confession', 'south', 'Indian', 'I', 'distaste', 'south', 'Indian', 'food', 'I', 'hate', 'I', 'like', 'either', 'But', 'still', 'made', 'mind', 'Sankaranti', 'authentic', 'south', 'Indian', 'food', 'visited', 'Adduri', 'Udupi', 'Bhojana', 'close', 'place', 'I', 'look', 'menu', 'told', 'I', 'I', 'blessed', 'tremendous', 'appetite', 'welcomed', 'mango', 'soup', 'followed', 'wide', 'variety', 'dishes', 'served', 'I', 'developed', 'new', 'love', 'Pongal', 'sweet', 'Khara', 'I', 'still', 'feel', 'taste', 'ghee', 'bursting', 'mouth', 'kai', 'holige', 'made', 'day', 'crisp', 'soft', 'forget', 'food', 'served', 'banana', 'leaf', 'adds', 'flavor', 'taste', 'waiters', 'attentive', 'responsive', 'The', 'customer', 'needs', 'monitored', 'addressed', 'much', 'variety', 'Rs', 'without', 'compromising', 'quantity', 'quality', 'yes', 'unlimited', 'This', 'visit', 'turned', 'surprise', 'package', 'Food', 'good', 'nNo', 'parking', 'nAmbience', 'average', 'nOverall', 'value', 'money', 'looking', 'south', 'Indian', 'food', 'nPreferred', 'tiffin', 'items', 'Been', 'last', 'week', 'high', 'expectations', 'based', 'reviews', 'But', 'utterly', 'disappointed', 'food', 'quality', 'taste', 'I', 'feel', 'overhyped', 'place', 'There', 'many', 'better', 'places', 'vicinity', 'Plantain', 'leaf', 'meal', 'There', 'much', 'waiting', 'staffs', 'hurry', 'serving', 'food', 'asking', 'people', 'finish', 'meal', 'leave', 'quickly', 'I', 'understand', 'waiting', 'staffs', 'approach', 'positive', 'way', 'I', 'never', 'go', 'nbangaloreepicure', 'com', 'I', 'confession', 'south', 'Indian', 'I', 'distaste', 'south', 'Indian', 'food', 'I', 'hate', 'I', 'like', 'either', 'But', 'still', 'made', 'mind', 'Sankaranti', 'authentic', 'south', 'Indian', 'food', 'visited', 'Adduri', 'Udupi', 'Bhojana', 'close', 'place', 'I', 'look', 'menu', 'told', 'I', 'I', 'blessed', 'tremendous', 'appetite', 'welcomed', 'mango', 'soup', 'followed', 'wide', 'variety', 'dishes', 'served', 'I', 'developed', 'new', 'love', 'Pongal', 'sweet', 'Khara', 'I', 'still', 'feel', 'taste', 'ghee', 'bursting', 'mouth', 'kai', 'holige', 'made', 'day', 'crisp', 'soft', 'forget', 'food', 'served', 'banana', 'leaf', 'adds', 'flavor', 'taste', 'waiters', 'attentive', 'responsive', 'The', 'customer', 'needs', 'monitored', 'addressed', 'much', 'variety', 'Rs', 'without', 'compromising', 'quantity', 'quality', 'yes', 'unlimited', 'This', 'visit', 'turned', 'surprise', 'package', 'Food', 'good', 'nNo', 'parking', 'nAmbience', 'average', 'nOverall', 'value', 'money', 'looking', 'south', 'Indian', 'food', 'nPreferred', 'tiffin', 'items', 'Been', 'last', 'week', 'high', 'expectations', 'based', 'reviews', 'But', 'utterly', 'disappointed', 'food', 'quality', 'taste', 'I', 'feel', 'overhyped', 'place', 'There', 'many', 'better', 'places', 'vicinity', 'Plantain', 'leaf', 'meal', 'There', 'much', 'waiting', 'staffs', 'hurry', 'serving', 'food', 'asking', 'people', 'finish', 'meal', 'leave', 'quickly', 'I', 'understand', 'waiting', 'staffs', 'approach', 'positive', 'way', 'I', 'never', 'go', 'nbangaloreepicure', 'com', 'I', 'confession', 'south', 'Indian', 'I', 'distaste', 'south', 'Indian', 'food', 'I', 'hate', 'I', 'like', 'either', 'But', 'still', 'made', 'mind', 'Sankaranti', 'authentic', 'south', 'Indian', 'food', 'visited', 'Adduri', 'Udupi', 'Bhojana', 'close', 'place', 'I', 'look', 'menu', 'told', 'I', 'I', 'blessed', 'tremendous', 'appetite', 'welcomed', 'mango', 'soup', 'followed', 'wide', 'variety', 'dishes', 'served', 'I', 'developed', 'new', 'love', 'Pongal', 'sweet', 'Khara', 'I', 'still', 'feel', 'taste', 'ghee', 'bursting', 'mouth', 'kai', 'holige', 'made', 'day', 'crisp', 'soft', 'forget', 'food', 'served', 'banana', 'leaf', 'adds', 'flavor', 'taste', 'waiters', 'attentive', 'responsive', 'The', 'customer', 'needs', 'monitored', 'addressed', 'much', 'variety', 'Rs', 'without', 'compromising', 'quantity', 'quality', 'yes', 'unlimited', 'This', 'visit', 'turned', 'surprise', 'package', 'Food', 'good', 'nNo', 'parking', 'nAmbience', 'average', 'nOverall', 'value', 'money', 'looking', 'south', 'Indian', 'food', 'nPreferred', 'tiffin', 'items', 'Been', 'last', 'week', 'high', 'expectations', 'based', 'reviews', 'But', 'utterly', 'disappointed', 'food', 'quality', 'taste', 'I', 'feel', 'overhyped', 'place', 'There', 'many', 'better', 'places', 'vicinity', 'Plantain', 'leaf', 'meal', 'There', 'much', 'waiting', 'staffs', 'hurry', 'serving', 'food', 'asking', 'people', 'finish', 'meal', 'leave', 'quickly', 'I', 'understand', 'waiting', 'staffs', 'approach', 'positive', 'way', 'I', 'never', 'go', 'nbangaloreepicure', 'com', 'I', 'confession', 'south', 'Indian', 'I', 'distaste', 'south', 'Indian', 'food', 'I', 'hate', 'I', 'like', 'either', 'But', 'still', 'made', 'mind', 'Sankaranti', 'authentic', 'south', 'Indian', 'food', 'visited', 'Adduri', 'Udupi', 'Bhojana', 'close', 'place', 'I', 'look', 'menu', 'told', 'I', 'I', 'blessed', 'tremendous', 'appetite', 'welcomed', 'mango', 'soup', 'followed', 'wide', 'variety', 'dishes', 'served', 'I', 'developed', 'new', 'love', 'Pongal', 'sweet', 'Khara', 'I', 'still', 'feel', 'taste', 'ghee', 'bursting', 'mouth', 'kai', 'holige', 'made', 'day', 'crisp', 'soft', 'forget', 'food', 'served', 'banana', 'leaf', 'adds', 'flavor', 'taste', 'waiters', 'attentive', 'responsive', 'The', 'customer', 'needs', 'monitored', 'addressed', 'much', 'variety', 'Rs', 'without', 'compromising', 'quantity', 'quality', 'yes', 'unlimited', 'This', 'visit', 'turned', 'surprise', 'package', 'Food', 'good', 'nNo', 'parking', 'nAmbience', 'average', 'nOverall', 'value', 'money', 'looking', 'south', 'Indian', 'food', 'nPreferred', 'tiffin', 'items', 'Had', 'week', 'night', 'authentic', 'south', 'Indian', 'food', 'I', 'personally', 'love', 'served', 'banyan', 'leaf', 'The', 'waiters', 'dressed', 'traditional', 'Mysore', 'attire', 'wearing', 'peta', 'The', 'food', 'delicious', 'definitely', 'worth', 'price', 'The', 'waiters', 'friendly', 'serve', 'u', 'well', 'smile', 'The', 'food', 'prepared', 'without', 'garlic', 'plus', 'point', 'attracting', 'many', 'senior', 'customers', 'Food', 'good', 'enjoyed', 'With', 'Rs', 'nice', 'nNote', 'It', 'happen', 'us', 'If', 'going', 'TWO', 'people', 'may', 'need', 'share', 'table', 'Its', 'almost', 'crowed', 'You', 'sit', 'ask', 'choose', 'even', 'table', 'empty', 'nJust', 'wait', 'eat', 'come', 'back', 'Excellent', 'Ambience', 'delicious', 'meals', 'variety', 'types', 'Worth', 'paying', 'money', 'dine', 'friends', 'relatives', 'home', 'Very', 'good', 'Unlimited', 'especially', 'masala', 'dosa', 'Service', 'ambience', 'also', 'good', 'visit', 'friends', 'reasonble', 'wholesome', 'food', 'Aaaa', 'wt', 'tell', 'Unlimited', 'food', 'food', 'like', 'exactly', 'like', 'south', 'indian', 'marriage', 'food', 'soups', 'sides', 'masala', 'dosa', 'unlimited', 'except', 'ice', 'cream', 'end', 'give', 'water', 'bottle', 'main', 'thing', 'patience', 'get', 'place', 'sit', 'parking', 'place', 'outlet', 'difficult', 'park', 'front', 'restaurants']

In [ ]:
## remove stopwords from "reviews_tokens" Series ..
reviews_tokens_clean = reviews_tokens.apply(lambda each_review : [token for token in each_review if token not in stop])

In [ ]:
reviews_tokens_clean

0        [A, beautiful, place, dine, The, interiors, ta...
1        [Had, dinner, family, Turned, good, choose, su...
2        [Ambience, good, enough, pocket, friendly, caf...
3        [Great, food, proper, Karnataka, style, full, ...
4        [Very, good, restaurant, neighbourhood, Buffet...
                               ...
10046    [A, simplistic, joy, local, biryani, lovers, n...
10047                                               [Good]
10048    [Vry, gud, taste, something, different, must, ...
10049                                                   []
10050                                                   []
Name: reviews_list, Length: 10000, dtype: object

#### d) Store your entire data in the list so that we can compute frequency of each word

In [ ]:
### now this reviews_tokens_clean is a series ,but we need entire data in the form of 1-D list so that we can compute frequency of
### each word

In [ ]:
type(reviews_tokens_clean)

pandas.core.series.Series

        list( reviews_tokens_clean ) gives us 2-D list (list inside list) , 
        as each row is already a list & then we will convert this 2-D list into 1-D list

In [ ]:
total_reviews_2D = list(reviews_tokens_clean)

In [ ]:
total_reviews_1D = []

for review in total_reviews_2D:
    for word in review:
        total_reviews_1D.append(word)

In [ ]:
total_reviews_1D

['A',
 'beautiful',
 'place',
 'dine',
 'The',
 'interiors',
 'take',
 'back',
 'Mughal',
 'era',
 'The',
 'lightings',
 'perfect',
 'We',
 'went',
 'occasion',
 'Christmas',
 'limited',
 'items',
 'available',
 'But',
 'taste',
 'service',
 'compromised',
 'The',
 'complaint',
 'breads',
 'could',
 'better',
 'Would',
 'surely',
 'like',
 'come',
 'I',
 'dinner',
 'family',
 'weekday',
 'The',
 'restaurant',
 'completely',
 'empty',
 'Ambience',
 'good',
 'good',
 'old',
 'hindi',
 'music',
 'Seating',
 'arrangement',
 'good',
 'We',
 'ordered',
 'masala',
 'papad',
 'panner',
 'baby',
 'corn',
 'starters',
 'lemon',
 'corrionder',
 'soup',
 'butter',
 'roti',
 'olive',
 'chilli',
 'paratha',
 'Food',
 'fresh',
 'good',
 'service',
 'good',
 'Good',
 'family',
 'hangout',
 'nCheers',
 'Its',
 'restaurant',
 'near',
 'Banashankari',
 'BDA',
 'Me',
 'along',
 'office',
 'friends',
 'visited',
 'buffet',
 'unfortunately',
 'provide',
 'veg',
 'buffet',
 'On',
 'inquiring',
 'said',
 'place',
 'mostly',
 'visited',
 'vegetarians',
 'Anyways',
 'ordered',
 'ala',
 'carte',
 'items',
 'took',
 'ages',
 'come',
 'Food',
 'ok',
 'ok',
 'Definitely',
 'visiting',
 'anymore',
 'We',
 'went',
 'weekend',
 'one',
 'us',
 'buffet',
 'two',
 'us',
 'took',
 'Ala',
 'Carte',
 'Firstly',
 'ambience',
 'service',
 'place',
 'great',
 'The',
 'buffet',
 'lot',
 'items',
 'good',
 'good',
 'We',
 'Pumpkin',
 'Halwa',
 'intm',
 'dessert',
 'amazing',
 'Must',
 'try',
 'The',
 'kulchas',
 'great',
 'Cheers',
 'The',
 'best',
 'thing',
 'place',
 'ambiance',
 'Second',
 'best',
 'thing',
 'yummy',
 'food',
 'We',
 'try',
 'buffet',
 'buffet',
 'food',
 'disappointed',
 'us',
 'nTest',
 'nQuality',
 'nService',
 'Staff',
 'professional',
 'friendly',
 'nOverall',
 'experience',
 'excellent',
 'nsubirmajumder',
 'wixsite',
 'com',
 'Great',
 'food',
 'pleasant',
 'ambience',
 'Expensive',
 'Coll',
 'place',
 'chill',
 'relax',
 'nService',
 'really',
 'good',
 'friendly',
 'staff',
 'nFood',
 'nService',
 'nAmbience',
 'nOverall',
 'Good',
 'ambience',
 'tasty',
 'food',
 'nCheese',
 'chilli',
 'paratha',
 'Bhutta',
 'palak',
 'methi',
 'curry',
 'good',
 'combo',
 'nLemon',
 'Chicken',
 'starters',
 'must',
 'try',
 'item',
 'nEgg',
 'fried',
 'rice',
 'also',
 'quite',
 'tasty',
 'nIn',
 'mocktails',
 'recommend',
 'Alice',
 'Junoon',
 'Do',
 'miss',
 'You',
 'go',
 'wrong',
 'Jalsa',
 'Never',
 'fan',
 'buffet',
 'thus',
 'always',
 'order',
 'alacarte',
 'Service',
 'times',
 'slower',
 'side',
 'food',
 'worth',
 'wait',
 'Overdelighted',
 'service',
 'food',
 'provided',
 'place',
 'A',
 'royal',
 'ethnic',
 'atmosphere',
 'builds',
 'strong',
 'essence',
 'India',
 'also',
 'quality',
 'taste',
 'food',
 'truly',
 'authentic',
 'I',
 'would',
 'totally',
 'recommend',
 'visit',
 'place',
 'The',
 'place',
 'nice',
 'comfortable',
 'Food',
 'wise',
 'jalea',
 'outlets',
 'maintain',
 'good',
 'standard',
 'The',
 'soya',
 'chaap',
 'standout',
 'dish',
 'Clearly',
 'one',
 'trademark',
 'dish',
 'per',
 'must',
 'try',
 'nThe',
 'concern',
 'parking',
 'It',
 'congested',
 'limited',
 'cars',
 'The',
 'basement',
 'parking',
 'steep',
 'makes',
 'cumbersome',
 'The',
 'place',
 'nice',
 'comfortable',
 'Food',
 'wise',
 'jalea',
 'outlets',
 'maintain',
 'good',
 'standard',
 'The',
 'soya',
 'chaap',
 'standout',
 'dish',
 'Clearly',
 'one',
 'trademark',
 'dish',
 'per',
 'must',
 'try',
 'nThe',
 'concern',
 'parking',
 'It',
 'congested',
 'limited',
 'cars',
 'The',
 'basement',
 'parking',
 'steep',
 'makes',
 'cumbersome',
 'The',
 'place',
 'nice',
 'comfortable',
 'Food',
 'wise',
 'jalea',
 'outlets',
 'maintain',
 'good',
 'standard',
 'The',
 'soya',
 'chaap',
 'standout',
 'dish',
 'Clearly',
 'one',
 'trademark',
 'dish',
 'per',
 'must',
 'try',
 'nThe',
 'concern',
 'parking',
 'It',
 'congested',
 'limited',
 'cars',
 'The',
 'basement',
 'parking',
 'steep',
 'makes',
 'cumbersome',
 'Had',
 'dinner',
 'family',
 'Turned',
 'good',
 'choose',
 'suitable',
 'ages',
 'people',
 'Can',
 'try',
 'place',
 'We',
 'liked',
 'starters',
 'Service',
 'good',
 'Prices',
 'affordable',
 'Will',
 'recommend',
 'restaurant',
 'early',
 'dinner',
 'The',
 'place',
 'little',
 'noisy',
 'The',
 'ambience',
 'really',
 'nice',
 'staff',
 'courteous',
 'The',
 'price',
 'pretty',
 'high',
 'quantity',
 'overall',
 'experience',
 'fine',
 'The',
 'quality',
 'food',
 'nice',
 'nothing',
 'extraordinary',
 'They',
 'also',
 'buffet',
 'veg',
 'I',
 'felt',
 'good',
 'little',
 'expensive',
 'quantity',
 'serve',
 'In',
 'terms',
 'taste',
 'decent',
 'There',
 'nothing',
 'much',
 'talk',
 'ambience',
 'regular',
 'casual',
 'dining',
 'restaurant',
 'take',
 'family',
 'dinner',
 'lunch',
 'If',
 'improve',
 'quantity',
 'may',
 'reduce',
 'price',
 'bit',
 'may',
 'improve',
 'presentation',
 'food',
 'might',
 'Manage',
 'get',
 'repeat',
 'customers',
 'I',
 'looking',
 'quite',
 'place',
 'spend',
 'time',
 'family',
 'well',
 'wanted',
 'try',
 'new',
 'place',
 'Since',
 'I',
 'Banashankari',
 'I',
 'thought',
 'trying',
 'place',
 'The',
 'place',
 'good',
 'rating',
 'part',
 'Zomato',
 'gold',
 'So',
 'I',
 'decided',
 'try',
 'place',
 'It',
 'delite',
 'see',
 'friendly',
 'staff',
 'food',
 'ordered',
 'tasty',
 'well',
 'nFood',
 'nAmbience',
 'nFriendly',
 'staff',
 'nPocket',
 'friendly',
 'nWill',
 'definitely',
 'visit',
 'Nice',
 'place',
 'dine',
 'good',
 'ambiance',
 'Food',
 'good',
 'serving',
 'time',
 'also',
 'good',
 'neat',
 'restrooms',
 'arranged',
 'tables',
 'thing',
 'went',
 'lunch',
 'noticed',
 'kept',
 'playing',
 'one',
 'music',
 'back',
 'back',
 'little',
 'annoying',
 'Chicken',
 'biriyani',
 'good',
 'chicken',
 'fresh',
 'tender',
 'rice',
 'well',
 'cooked',
 'overall',
 'great',
 'Mutton',
 'biriyani',
 'good',
 'tasty',
 'It',
 'plenty',
 'mutton',
 'pieces',
 'This',
 'place',
 'cool',
 'good',
 'ambience',
 'slow',
 'music',
 'delicious',
 'food',
 'find',
 'peace',
 'Staff',
 'friendly',
 'maintained',
 'place',
 'clean',
 'The',
 'price',
 'average',
 'quantity',
 'food',
 'serve',
 'nThom',
 'yum',
 'Thai',
 'soup',
 'best',
 'treat',
 'mouth',
 'roti',
 'soft',
 'vilaythi',
 'paneer',
 'perfect',
 'veggie',
 'foodies',
 'rice',
 'tried',
 'burnt',
 'garlic',
 'fried',
 'rice',
 'vegetables',
 'perfect',
 'thing',
 'end',
 'Quiet',
 'good',
 'family',
 'type',
 'place',
 'calm',
 'usually',
 'find',
 'crowd',
 'panner',
 'curry',
 'deserts',
 'tasted',
 'wer',
 'really',
 'good',
 'found',
 'little',
 'expensive',
 'I',
 'bad',
 'experience',
 'nI',
 'know',
 'la',
 'carte',
 'buffet',
 'worst',
 'They',
 'gave',
 'us',
 'complementary',
 'drink',
 'momos',
 'buffet',
 'The',
 'momos',
 'really',
 'good',
 'nThe',
 'number',
 'varieties',
 'first',
 'disappointing',
 'The',
 'service',
 'slow',
 'They',
 'refilled',
 'food',
 'slowly',
 'The',
 'starters',
 'okay',
 'The',
 'main',
 'course',
 'also',
 'There',
 'two',
 'gravies',
 'roti',
 'rice',
 'raitha',
 'They',
 'chats',
 'sev',
 'puri',
 'pan',
 'puri',
 'average',
 'But',
 'desert',
 'disappointing',
 'They',
 'gulab',
 'Jamun',
 'chocolate',
 'cake',
 'The',
 'jamun',
 'cooked',
 'inside',
 'There',
 'cold',
 'blob',
 'raw',
 'dough',
 'inside',
 'The',
 'chocolate',
 'cake',
 'also',
 'really',
 'hard',
 'good',
 'nOverall',
 'buffet',
 'bad',
 'experience',
 'Food',
 'nAmbience',
 'nStaff',
 'nOne',
 'good',
 'places',
 'try',
 'north',
 'Indian',
 'food',
 'depends',
 'ur',
 'taste',
 'buds',
 'Not',
 'everyone',
 'like',
 'items',
 'Specially',
 'u',
 'r',
 'particular',
 'abt',
 'sweet',
 'spicy',
 'food',
 'nThere',
 'buffet',
 'available',
 'nWe',
 'ordered',
 'paneer',
 'uttar',
 'dakshin',
 'paneer',
 'kurchan',
 'amazing',
 'The',
 'Gobi',
 'hara',
 'pyaz',
 'mix',
 'veg',
 'average',
 'A',
 'decent',
 'place',
 'family',
 'lunch',
 'dinner',
 'well',
 'arranged',
 'simple',
 'manner',
 'Food',
 'tasty',
 'crew',
 'helpful',
 'understanding',
 'Great',
 'place',
 'heavy',
 'lunch',
 'Good',
 'service',
 'nThe',
 'chicken',
 'biryani',
 'undoubtedly',
 'one',
 'best',
 'I',
 'Biriyani',
 'Lassi',
 'would',
 'suggested',
 'combo',
 'Buffet',
 'talk',
 'place',
 'try',
 'according',
 'appetite',
 'A',
 'nice',
 'place',
 'Its',
 'one',
 'restaurant',
 'near',
 'katriguppe',
 'found',
 'really',
 'good',
 'Good',
 'variety',
 'Chinese',
 'thai',
 'dishes',
 'Service',
 'good',
 'good',
 'place',
 'hangout',
 'family',
 'peaceful',
 'place',
 'noise',
 'really',
 'less',
 'good',
 'view',
 'Spice',
 'elephant',
 'soup',
 'SPL',
 'almost',
 'manchow',
 'flavour',
 'soup',
 'Just',
 'medium',
 'spicy',
 'nLasooni',
 'fish',
 'tikka',
 'awesome',
 'nI',
 'remember',
 'dessert',
 'name',
 'I',
 'attached',
 'photo',
 'It',
 'vanilla',
 'ice',
 'inside',
 'wafers',
 'Wafer',
 'hell',
 'hard',
 'egg',
 'smell',
 'chewy',
 'Nightmare',
 'dessert',
 'nTable',
 'leg',
 'space',
 'bad',
 'I',
 'uncomfortable',
 'whole',
 'time',
 'kept',
 'adjusting',
 'legs',
 'nNo',
 'parking',
 'nFor',
 'taste',
 'felt',
 'costly',
 'Zomato',
 'gold',
 'partner',
 'price',
 'It',
 'insane',
 'They',
 'really',
 'nice',
 'food',
 'small',
 'place',
 'courteous',
 'staff',
 'cheap',
 'food',
 'ambience',
 'Cost',
 'soups',
 'Starters',
 'Main',
 'course',
 'Cost',
 'two',
 'us',
 'Ambience',
 'good',
 'enough',
 'pocket',
 'friendly',
 'cafe',
 'quantity',
 'good',
 'desserts',
 'good',
 'enough',
 'nWent',
 'quick',
 'bite',
 'friends',
 'nThe',
 'ambience',
 'corporate',
 'feel',
 'I',
 'would',
 'say',
 'unique',
 'nTried',
 'nachos',
 'pasta',
 'churros',
 'lasagne',
 'nNachos',
 'pathetic',
 'Seriously',
 'order',
 'nPasta',
 'okayish',
 'nLasagne',
 'good',
 'nNutella',
 'churros',
 'best',
 'nOverall',
 'okayish',
 'experience',
 'nPeace',
 'First',
 'big',
 'thanks',
 'staff',
 'Cafe',
 'Very',
 'polite',
 'courteous',
 'nI',
 'mins',
 'closing',
 'time',
 'Without',
 'discomfort',
 'hesitation',
 'staff',
 'welcomed',
 'warm',
 'smile',
 'said',
 'still',
 'open',
 'though',
 'preparing',
 'close',
 'cafe',
 'day',
 'nQuickly',
 'ordered',
 'Thai',
 'green',
 'curry',
 'served',
 'rice',
 'They',
 'got',
 'within',
 'mins',
 'hot',
 'freshly',
 'made',
 'nIt',
 'tasty',
 'taste',
 'coconut',
 'milk',
 'Not',
 'spicy',
 'mild',
 'spicy',
 'nI',
 'saw',
 'yummy',
 'looking',
 'dessert',
 'menu',
 'go',
 'try',
 'nA',
 'good',
 ...]

#### e) Do plotting
    1..Unigram analysis
    2..Bigram Analysis
    3..Trigram analysis

###### 1..Unigram analysis

obtain the frequency of individual words in the reviews, for this u have to use FreqDist ..

In [ ]:
from nltk import FreqDist

In [ ]:
fd = FreqDist()

In [ ]:
for word in total_reviews_1D:
    fd[word] = fd[word] + 1

In [ ]:
# Examining the top 50 most frequent words
fd_common = fd.most_common(50)
fd_common

[('place', 139173),
 ('I', 137965),
 ('good', 134232),
 ('food', 126195),
 ('The', 97479),
 ('chicken', 46887),
 ('service', 41216),
 ('taste', 40063),
 ('ordered', 39651),
 ('great', 34402),
 ('really', 33942),
 ('time', 33052),
 ('try', 32415),
 ('one', 32079),
 ('ambience', 31703),
 ('like', 30679),
 ('also', 30647),
 ('It', 30487),
 ('visit', 27355),
 ('restaurant', 26421),
 ('We', 25949),
 ('nice', 25665),
 ('nThe', 25217),
 ('best', 24886),
 ('well', 23605),
 ('order', 21703),
 ('This', 20307),
 ('experience', 20267),
 ('They', 20081),
 ('staff', 19846),
 ('veg', 18935),
 ('amazing', 18870),
 ('would', 18424),
 ('quality', 18070),
 ('pizza', 17316),
 ('menu', 17004),
 ('go', 16872),
 ('get', 16641),
 ('must', 16425),
 ('biryani', 16376),
 ('tasty', 16219),
 ('A', 15700),
 ('Food', 15597),
 ('rice', 14885),
 ('tried', 14854),
 ('much', 14614),
 ('friends', 14045),
 ('quantity', 13842),
 ('delicious', 13766),
 ('served', 13195)]

In [ ]:
# Plotting the top 20 most frequent words
fd_dict = dict(fd_common)
fig = make_subplots(rows=1, cols=1)

fig.add_trace(go.Bar(x=list(fd_dict.keys()), y=list(fd_dict.values()), name='Frequency'))

fig.update_layout(title='Frequency Distribution Plot',
                  xaxis_title='Words',
                  yaxis_title='Frequency')

fig.show()

**Observation::**
we can observe that 'place', 'food', 'good', 'chicken', 'taste', 'service', and 'biryani' are among the most commonly used terms. However, it is not immediately clear from these individual terms whether the food or chicken is actually good or not. To gain more meaningful insights, we may consider using bi-gram analysis to identify common pairs of words that occur together frequently, which could provide us with a better understanding of customers' opinions about the food and service at the restaurant.

## 6.. Performing Bi-gram & Trigram analysis on data

###### b..Bigram Analysis

In [ ]:
from nltk import FreqDist , bigrams , trigrams

In [ ]:
# Generating bigrams from the reviews
bi_grams = bigrams(total_reviews_1D)

In [ ]:
bi_grams

In [ ]:
# Getting the bigram frequency distribution

fd_bigrams = FreqDist()

for bigram in bi_grams:
    fd_bigrams[bigram] = fd_bigrams[bigram] + 1

In [ ]:
fd_bigrams.most_common(50)

[(('The', 'food'), 10497),
 (('I', 'ordered'), 10159),
 (('really', 'good'), 9575),
 (('This', 'place'), 8208),
 (('must', 'try'), 7824),
 (('I', 'would'), 7353),
 (('We', 'ordered'), 7223),
 (('visit', 'place'), 6897),
 (('food', 'good'), 6823),
 (('good', 'food'), 6482),
 (('The', 'place'), 6158),
 (('main', 'course'), 5544),
 (('non', 'veg'), 5364),
 (('good', 'place'), 5339),
 (('ice', 'cream'), 5287),
 (('also', 'good'), 5083),
 (('The', 'ambience'), 4798),
 (('I', 'tried'), 4523),
 (('good', 'I'), 4139),
 (('good', 'The'), 4078),
 (('food', 'I'), 3998),
 (('place', 'I'), 3896),
 (('The', 'service'), 3830),
 (('one', 'best'), 3711),
 (('must', 'visit'), 3658),
 (('I', 'love'), 3529),
 (('quality', 'food'), 3510),
 (('nWe', 'ordered'), 3490),
 (('time', 'I'), 3398),
 (('nice', 'place'), 3290),
 (('The', 'staff'), 3286),
 (('taste', 'good'), 3275),
 (('pretty', 'good'), 3270),
 (('fried', 'rice'), 3127),
 (('pocket', 'friendly'), 3097),
 (('place', 'good'), 3083),
 (('I', 'loved'), 3078),
 (('good', 'service'), 3036),
 (('value', 'money'), 2966),
 (('place', 'hangout'), 2883),
 (('good', 'taste'), 2866),
 (('I', 'like'), 2828),
 (('I', 'visited'), 2824),
 (('service', 'good'), 2806),
 (('great', 'place'), 2708),
 (('good', 'experience'), 2589),
 (('nThe', 'food'), 2546),
 (('ambience', 'good'), 2543),
 (('first', 'time'), 2533),
 (('visited', 'place'), 2521)]

In [ ]:
# Plotting the top 50 most frequent bigrams

fd_bigrams_dict = dict(fd_bigrams.most_common(50))

# create separate lists for words and counts
words = [key[0] + ' ' + key[1] for key in fd_bigrams_dict.keys()]
counts = list(fd_bigrams_dict.values())

# sort the lists by count in descending order
sorted_counts, sorted_words = zip(*sorted(zip(counts, words), reverse=True))

# create a bar plot using plotly
fig = go.Figure([go.Bar(x=sorted_words, y=sorted_counts)])

fig.show()

**Observations::**
We have some new insights! Food items and preferences mentioned in the top 50 bigrams are Fried Rice, Ice cream, non-veg, chicken biryani, and main course. It's worth noting that there is no conclusion about North Indian or South Indian cuisine because it can refer to a dish or a regional group of people. To gain more meaningful insights, let's perform trigram analysis.

Factors contributing to the restaurant experience include good food, pocket-friendly prices, a good atmosphere, good service, good taste, and good value for money, as well as home delivery.

One key insight here is that the expense factor was missed by individual word frequency counts but was picked up by bigram frequency counts. This highlights the importance of using n-grams to analyze text data.

##### c.. Trigram Analysis

In [ ]:
tri_grams = trigrams(total_reviews_1D)

In [ ]:

# Generating trigrams from the reviews
fd_trigrams = FreqDist()

for trigram in tri_grams:
    fd_trigrams[trigram] = fd_trigrams[trigram] + 1

In [ ]:
fd_trigrams.most_common(50)

[(('veg', 'non', 'veg'), 1525),
 (('must', 'visit', 'place'), 1487),
 (('The', 'food', 'good'), 1339),
 (('place', 'hangout', 'friends'), 1165),
 (('I', 'must', 'say'), 1131),
 (('I', 'would', 'recommend'), 1059),
 (('I', 'visited', 'place'), 1054),
 (('I', 'would', 'say'), 979),
 (('place', 'hang', 'friends'), 967),
 (('food', 'really', 'good'), 886),
 (('nFood', 'nAmbience', 'nService'), 845),
 (('A', 'must', 'visit'), 768),
 (('The', 'ambience', 'good'), 751),
 (('A', 'good', 'place'), 737),
 (('North', 'Indian', 'food'), 675),
 (('I', 'would', 'like'), 619),
 (('nFood', 'nService', 'nAmbience'), 607),
 (('A', 'must', 'try'), 603),
 (('I', 'really', 'liked'), 595),
 (('I', 'ordered', 'chicken'), 582),
 (('first', 'time', 'I'), 570),
 (('The', 'staff', 'friendly'), 561),
 (('The', 'best', 'part'), 561),
 (('The', 'food', 'really'), 559),
 (('Overall', 'good', 'experience'), 558),
 (('I', 'love', 'place'), 554),
 (('paneer', 'butter', 'masala'), 554),
 (('really', 'good', 'The'), 552),
 (('A', 'nice', 'place'), 549),
 (('starters', 'main', 'course'), 541),
 (('food', 'I', 'ordered'), 539),
 (('I', 'would', 'suggest'), 539),
 (('The', 'staff', 'courteous'), 534),
 (('nService', 'nValue', 'money'), 528),
 (('I', 'would', 'definitely'), 520),
 (('I', 'ordered', 'food'), 516),
 (('place', 'good', 'food'), 513),
 (('must', 'try', 'place'), 486),
 (('nAmbience', 'nFood', 'nService'), 486),
 (('north', 'Indian', 'food'), 480),
 (('nRead', 'full', 'post'), 478),
 (('good', 'We', 'ordered'), 473),
 (('good', 'food', 'good'), 466),
 (('The', 'service', 'good'), 457),
 (('One', 'best', 'places'), 438),
 (('would', 'recommend', 'place'), 436),
 (('A', 'great', 'place'), 436),
 (('chicken', 'fried', 'rice'), 428),
 (('place', 'The', 'food'), 427),
 (('I', 'recommend', 'place'), 427)]

In [ ]:
fd_trigrams_dict = dict(fd_trigrams.most_common(50))

# create separate lists for words and counts
words = [key[0] + ' ' + key[1] + ' ' + key[2] for key in fd_trigrams_dict.keys()]
counts = list(fd_trigrams_dict.values())

# sort the lists by count in descending order
sorted_counts, sorted_words = zip(*sorted(zip(counts, words), reverse=True))

# create a bar plot using plotly
fig = go.Figure([go.Bar(x=sorted_words, y=sorted_counts)])

fig.show()

**Observations:**

We can see some interesting patterns from the top trigrams:

Veg vs Non-veg: The trigram ('veg', 'non', 'veg') appears as the most frequent trigram, which suggests that customers have a strong preference for either vegetarian or non-vegetarian dishes. This insight can be useful for restaurants to tailor their menu offerings accordingly.

Must-visit places: The trigram ('must', 'visit', 'place') is the second most frequent trigram, which indicates that customers are actively seeking out new and exciting dining experiences. Restaurants that can create a "must-visit" buzz around their establishment are likely to see increased foot traffic.

Food quality and service: The trigrams ('The', 'food', 'good'), ('food', 'really', 'good'), ('The', 'staff', 'friendly'), and ('The', 'service', 'good') all suggest that customers value food quality and good service above other factors. Restaurants that can consistently deliver on these two aspects are likely to see repeat business.

Regional cuisine: The trigrams ('North', 'Indian', 'food') and ('north', 'Indian', 'food') both appear in the top 50 trigrams, suggesting that customers have a strong affinity for North Indian cuisine. Restaurants that specialize in this cuisine may want to highlight this aspect of their menu to attract customers.

Recommendations: The trigrams ('I', 'would', 'recommend'), ('I', 'would', 'suggest'), and ('would', 'recommend', 'place') all suggest that customers are open to recommendations from others. Restaurants can leverage this by encouraging satisfied customers to leave reviews or share their positive experiences on social media.

## 7.. Extract geographical-coordinates from data ..

    Prb st : where are most of the North-Indian restaurants situated in Bengaluru ? 
              First extract latitudes & longitudes from data so that we are able to use maps..

In [ ]:
df.head(3)

,index,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari

In [ ]:
!pip install geocoder
!pip install geopy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geocoder
  Downloading geocoder-1.38.1-py2.py3-none-any.whl (98 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.6/98.6 kB 3.7 MB/s eta 0:00:00
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from geocoder) (8.1.3)
Requirement already satisfied: future in /usr/local/lib/python3.10/dist-packages (from geocoder) (0.18.3)
Collecting ratelim (from geocoder)
  Downloading ratelim-0.1.6-py2.py3-none-any.whl (4.0 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from geocoder) (2.27.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from geocoder) (1.16.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->geocoder) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->geocoder) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->geocoder) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->geocoder) (3.4)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopy in /usr/local/lib/python3.10/dist-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /usr/local/lib/python3.10/dist-packages (from geopy) (2.0)

In [ ]:
### lets make these below places more accurate , so that we are able to extract more accurate latitudes & longitudes
### otherwise it might return geographical co-ordinates outside of Bengaluru as well

In [ ]:
df['location']

0                      Banashankari
1                      Banashankari
2                      Banashankari
3                      Banashankari
4                      Basavanagudi
                    ...
51712                    Whitefield
51713                    Whitefield
51714                    Whitefield
51715    ITPL Main Road, Whitefield
51716    ITPL Main Road, Whitefield
Name: location, Length: 51717, dtype: object

In [ ]:
df['location'].unique()

array(['Banashankari', 'Basavanagudi', 'Mysore Road', 'Jayanagar',
       'Kumaraswamy Layout', 'Rajarajeshwari Nagar', 'Vijay Nagar',
       'Uttarahalli', 'JP Nagar', 'South Bangalore', 'City Market',
       'Nagarbhavi', 'Bannerghatta Road', 'BTM', 'Kanakapura Road',
       'Bommanahalli', None, 'CV Raman Nagar', 'Electronic City', 'HSR',
       'Marathahalli', 'Sarjapur Road', 'Wilson Garden', 'Shanti Nagar',
       'Koramangala 5th Block', 'Koramangala 8th Block', 'Richmond Road',
       'Koramangala 7th Block', 'Jalahalli', 'Koramangala 4th Block',
       'Bellandur', 'Whitefield', 'East Bangalore', 'Old Airport Road',
       'Indiranagar', 'Koramangala 1st Block', 'Frazer Town', 'RT Nagar',
       'MG Road', 'Brigade Road', 'Lavelle Road', 'Church Street',
       'Ulsoor', 'Residency Road', 'Shivajinagar', 'Infantry Road',
       'St. Marks Road', 'Cunningham Road', 'Race Course Road',
       'Commercial Street', 'Vasanth Nagar', 'HBR Layout', 'Domlur',
       'Ejipura', 'Jeevan Bhima Nagar', 'Old Madras Road', 'Malleshwaram',
       'Seshadripuram', 'Kammanahalli', 'Koramangala 6th Block',
       'Majestic', 'Langford Town', 'Central Bangalore', 'Sanjay Nagar',
       'Brookefield', 'ITPL Main Road, Whitefield',
       'Varthur Main Road, Whitefield', 'KR Puram',
       'Koramangala 2nd Block', 'Koramangala 3rd Block', 'Koramangala',
       'Hosur Road', 'Rajajinagar', 'Banaswadi', 'North Bangalore',
       'Nagawara', 'Hennur', 'Kalyan Nagar', 'New BEL Road', 'Jakkur',
       'Rammurthy Nagar', 'Thippasandra', 'Kaggadasapura', 'Hebbal',
       'Kengeri', 'Sankey Road', 'Sadashiv Nagar', 'Basaveshwara Nagar',
       'Yeshwantpur', 'West Bangalore', 'Magadi Road', 'Yelahanka',
       'Sahakara Nagar', 'Peenya'], dtype=object)

In [ ]:
len(df['location'].unique())

94

In [ ]:
### Lets add 'Bangalore , Karnataka , India' so that u will get more more accurate geographical co-ordinates..

df['location'] = df['location'] + " , Bangalore  , Karnataka , India "

In [ ]:
df['location']

0           Banashankari , Bangalore  , Karnataka , India
1           Banashankari , Bangalore  , Karnataka , India
2           Banashankari , Bangalore  , Karnataka , India
3           Banashankari , Bangalore  , Karnataka , India
4           Basavanagudi , Bangalore  , Karnataka , India
                               ...
51712         Whitefield , Bangalore  , Karnataka , India
51713         Whitefield , Bangalore  , Karnataka , India
51714         Whitefield , Bangalore  , Karnataka , India
51715    ITPL Main Road, Whitefield , Bangalore  , Karn...
51716    ITPL Main Road, Whitefield , Bangalore  , Karn...
Name: location, Length: 51717, dtype: object

In [ ]:
df['location'].unique()

array(['Banashankari , Bangalore  , Karnataka , India ',
       'Basavanagudi , Bangalore  , Karnataka , India ',
       'Mysore Road , Bangalore  , Karnataka , India ',
       'Jayanagar , Bangalore  , Karnataka , India ',
       'Kumaraswamy Layout , Bangalore  , Karnataka , India ',
       'Rajarajeshwari Nagar , Bangalore  , Karnataka , India ',
       'Vijay Nagar , Bangalore  , Karnataka , India ',
       'Uttarahalli , Bangalore  , Karnataka , India ',
       'JP Nagar , Bangalore  , Karnataka , India ',
       'South Bangalore , Bangalore  , Karnataka , India ',
       'City Market , Bangalore  , Karnataka , India ',
       'Nagarbhavi , Bangalore  , Karnataka , India ',
       'Bannerghatta Road , Bangalore  , Karnataka , India ',
       'BTM , Bangalore  , Karnataka , India ',
       'Kanakapura Road , Bangalore  , Karnataka , India ',
       'Bommanahalli , Bangalore  , Karnataka , India ', nan,
       'CV Raman Nagar , Bangalore  , Karnataka , India ',
       'Electronic City , Bangalore  , Karnataka , India ',
       'HSR , Bangalore  , Karnataka , India ',
       'Marathahalli , Bangalore  , Karnataka , India ',
       'Sarjapur Road , Bangalore  , Karnataka , India ',
       'Wilson Garden , Bangalore  , Karnataka , India ',
       'Shanti Nagar , Bangalore  , Karnataka , India ',
       'Koramangala 5th Block , Bangalore  , Karnataka , India ',
       'Koramangala 8th Block , Bangalore  , Karnataka , India ',
       'Richmond Road , Bangalore  , Karnataka , India ',
       'Koramangala 7th Block , Bangalore  , Karnataka , India ',
       'Jalahalli , Bangalore  , Karnataka , India ',
       'Koramangala 4th Block , Bangalore  , Karnataka , India ',
       'Bellandur , Bangalore  , Karnataka , India ',
       'Whitefield , Bangalore  , Karnataka , India ',
       'East Bangalore , Bangalore  , Karnataka , India ',
       'Old Airport Road , Bangalore  , Karnataka , India ',
       'Indiranagar , Bangalore  , Karnataka , India ',
       'Koramangala 1st Block , Bangalore  , Karnataka , India ',
       'Frazer Town , Bangalore  , Karnataka , India ',
       'RT Nagar , Bangalore  , Karnataka , India ',
       'MG Road , Bangalore  , Karnataka , India ',
       'Brigade Road , Bangalore  , Karnataka , India ',
       'Lavelle Road , Bangalore  , Karnataka , India ',
       'Church Street , Bangalore  , Karnataka , India ',
       'Ulsoor , Bangalore  , Karnataka , India ',
       'Residency Road , Bangalore  , Karnataka , India ',
       'Shivajinagar , Bangalore  , Karnataka , India ',
       'Infantry Road , Bangalore  , Karnataka , India ',
       'St. Marks Road , Bangalore  , Karnataka , India ',
       'Cunningham Road , Bangalore  , Karnataka , India ',
       'Race Course Road , Bangalore  , Karnataka , India ',
       'Commercial Street , Bangalore  , Karnataka , India ',
       'Vasanth Nagar , Bangalore  , Karnataka , India ',
       'HBR Layout , Bangalore  , Karnataka , India ',
       'Domlur , Bangalore  , Karnataka , India ',
       'Ejipura , Bangalore  , Karnataka , India ',
       'Jeevan Bhima Nagar , Bangalore  , Karnataka , India ',
       'Old Madras Road , Bangalore  , Karnataka , India ',
       'Malleshwaram , Bangalore  , Karnataka , India ',
       'Seshadripuram , Bangalore  , Karnataka , India ',
       'Kammanahalli , Bangalore  , Karnataka , India ',
       'Koramangala 6th Block , Bangalore  , Karnataka , India ',
       'Majestic , Bangalore  , Karnataka , India ',
       'Langford Town , Bangalore  , Karnataka , India ',
       'Central Bangalore , Bangalore  , Karnataka , India ',
       'Sanjay Nagar , Bangalore  , Karnataka , India ',
       'Brookefield , Bangalore  , Karnataka , India ',
       'ITPL Main Road, Whitefield , Bangalore  , Karnataka , India ',
       'Varthur Main Road, Whitefield , Bangalore  , Karnataka , India ',
       'KR Puram , Bangalore  , Karnataka , India ',
       'Koramangala 2nd Block , Bangalore  , Karnataka , India ',
       'Koramangala 3rd Block , Bangalore  , Karnataka , India ',
       'Koramangala , Bangalore  , Karnataka , India ',
       'Hosur Road , Bangalore  , Karnataka , India ',
       'Rajajinagar , Bangalore  , Karnataka , India ',
       'Banaswadi , Bangalore  , Karnataka , India ',
       'North Bangalore , Bangalore  , Karnataka , India ',
       'Nagawara , Bangalore  , Karnataka , India ',
       'Hennur , Bangalore  , Karnataka , India ',
       'Kalyan Nagar , Bangalore  , Karnataka , India ',
       'New BEL Road , Bangalore  , Karnataka , India ',
       'Jakkur , Bangalore  , Karnataka , India ',
       'Rammurthy Nagar , Bangalore  , Karnataka , India ',
       'Thippasandra , Bangalore  , Karnataka , India ',
       'Kaggadasapura , Bangalore  , Karnataka , India ',
       'Hebbal , Bangalore  , Karnataka , India ',
       'Kengeri , Bangalore  , Karnataka , India ',
       'Sankey Road , Bangalore  , Karnataka , India ',
       'Sadashiv Nagar , Bangalore  , Karnataka , India ',
       'Basaveshwara Nagar , Bangalore  , Karnataka , India ',
       'Yeshwantpur , Bangalore  , Karnataka , India ',
       'West Bangalore , Bangalore  , Karnataka , India ',
       'Magadi Road , Bangalore  , Karnataka , India ',
       'Yelahanka , Bangalore  , Karnataka , India ',
       'Sahakara Nagar , Bangalore  , Karnataka , India ',
       'Peenya , Bangalore  , Karnataka , India '], dtype=object)

In [ ]:
df_copy = df.copy()

In [ ]:
df_copy['location'].isnull().sum()

21

In [ ]:
df_copy = df_copy.dropna(subset=['location'])

In [ ]:
df_copy['location'].isnull().sum()

0

In [ ]:
locations = pd.DataFrame(df_copy['location'].unique())

In [ ]:
locations.columns = ['name']

In [ ]:
locations

                                                 name
0      Banashankari , Bangalore  , Karnataka , India
1      Basavanagudi , Bangalore  , Karnataka , India
2       Mysore Road , Bangalore  , Karnataka , India
3         Jayanagar , Bangalore  , Karnataka , India
4   Kumaraswamy Layout , Bangalore  , Karnataka , ...
..                                                ...
88   West Bangalore , Bangalore  , Karnataka , India
89      Magadi Road , Bangalore  , Karnataka , India
90        Yelahanka , Bangalore  , Karnataka , India
91   Sahakara Nagar , Bangalore  , Karnataka , India
92           Peenya , Bangalore  , Karnataka , India

[93 rows x 1 columns]

In [ ]:
from geopy.geocoders import Nominatim

In [ ]:
### assign timeout=None in order to get rid of timeout error..
geolocator = Nominatim(user_agent="app" , timeout=None)

In [ ]:
from geopy.geocoders import Nominatim
import time


lat=[]
lon=[]

for location in locations['name']:
    try:
        time.sleep(1) # add a sleep to avoid hitting rate limits
        location = geolocator.geocode(location)
        if location is None:
            lat.append(np.nan)
            lon.append(np.nan)
        else:
            lat.append(location.latitude)
            lon.append(location.longitude)
    except Exception as e:
        print(f"Error geocoding {location}: {e}")
        lat.append(np.nan)
        lon.append(np.nan)

In [ ]:
lat=[]
lon=[]

for location in locations['name']:
    location = geolocator.geocode(location)
    if location is None:
        lat.append(np.nan)
        lon.append(np.nan)
    else:
        lat.append(location.latitude)
        lon.append(location.longitude)

In [ ]:
locations['latitude'] = lat
locations['longitude'] = lon

    We have found out latitude and longitude of each location listed in the dataset using geopy
    This is used to plot maps.

In [ ]:
locations

                                                 name   latitude  longitude
0      Banashankari , Bangalore  , Karnataka , India   12.915221  77.573598
1      Basavanagudi , Bangalore  , Karnataka , India   12.941726  77.575502
2       Mysore Road , Bangalore  , Karnataka , India   12.946662  77.530090
3         Jayanagar , Bangalore  , Karnataka , India   12.929273  77.582423
4   Kumaraswamy Layout , Bangalore  , Karnataka , ...  12.908149  77.555318
..                                                ...        ...        ...
88   West Bangalore , Bangalore  , Karnataka , India   13.022235  77.567183
89      Magadi Road , Bangalore  , Karnataka , India   12.975608  77.555356
90        Yelahanka , Bangalore  , Karnataka , India   13.100698  77.596345
91   Sahakara Nagar , Bangalore  , Karnataka , India   13.062147  77.580061
92           Peenya , Bangalore  , Karnataka , India   13.032942  77.527325

[93 rows x 3 columns]

## 8.. Lets build geographical Heat-Maps

In [ ]:
### lets figure it out whether we have misssing values or not !
locations.isnull().sum()

name         0
latitude     3
longitude    3
dtype: int64

In [ ]:
locations[locations['latitude'].isna()]

                                                 name  latitude  longitude
45   St. Marks Road , Bangalore  , Karnataka , India        NaN        NaN
79  Rammurthy Nagar , Bangalore  , Karnataka , India        NaN        NaN
85   Sadashiv Nagar , Bangalore  , Karnataka , India        NaN        NaN

In [ ]:
### lets take help of google in such circumstances..
### google as "co-ordinates of St. Marks Road bengalore" , so co-ordinates as :
### 12.9764122° N(Latitude), 77.6017437° E(Longitude)

In [ ]:
import warnings
from warnings import filterwarnings
filterwarnings('ignore')

In [ ]:
locations['latitude'][45] = 12.9764122
locations['longitude'][45] = 77.6017437

locations['latitude'][79] = 13.0163
locations['longitude'][79] = 77.6785

locations['latitude'][85] = 13.0068
locations['longitude'][85] = 77.5813

In [ ]:
locations[locations['latitude'].isna()]

Empty DataFrame
Columns: [name, latitude, longitude]
Index: []

In [ ]:
df['cuisines'].isnull().sum()

45

In [ ]:
df = df.dropna(subset=['cuisines'])

In [ ]:
### lets find it out what are those areas where we have most number of North-Indian restaurants ?
## ie lets extract dataframe of only 'North Indian' cuisine restaurant..

north_india = df[df['cuisines'].str.contains('North Indian')]

In [ ]:
north_india.shape

(21085, 18)

In [ ]:
north_india.head(2)

,index,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,080 42297555\r\n+91 9743772233,"Banashankari , Bangalore , Karnataka , India",Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,080 41714161,"Banashankari , Bangalore , Karnataka , India",Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari

In [ ]:
north_india_rest_count = north_india['location'].value_counts().reset_index().rename(columns={'index':'name' , "location":"count"})

In [ ]:
north_india_rest_count

                                                 name  count
0               BTM , Bangalore  , Karnataka , India    2469
1               HSR , Bangalore  , Karnataka , India    1123
2        Whitefield , Bangalore  , Karnataka , India    1059
3      Marathahalli , Bangalore  , Karnataka , India    1038
4          JP Nagar , Bangalore  , Karnataka , India     958
..                                                ...    ...
85           Hebbal , Bangalore  , Karnataka , India       4
86           Jakkur , Bangalore  , Karnataka , India       3
87  Central Bangalore , Bangalore  , Karnataka , I...      2
88   West Bangalore , Bangalore  , Karnataka , India       1
89           Peenya , Bangalore  , Karnataka , India       1

[90 rows x 2 columns]

In [ ]:
locations

                                                 name   latitude  longitude
0      Banashankari , Bangalore  , Karnataka , India   12.915221  77.573598
1      Basavanagudi , Bangalore  , Karnataka , India   12.941726  77.575502
2       Mysore Road , Bangalore  , Karnataka , India   12.946662  77.530090
3         Jayanagar , Bangalore  , Karnataka , India   12.929273  77.582423
4   Kumaraswamy Layout , Bangalore  , Karnataka , ...  12.908149  77.555318
..                                                ...        ...        ...
88   West Bangalore , Bangalore  , Karnataka , India   13.022235  77.567183
89      Magadi Road , Bangalore  , Karnataka , India   12.975608  77.555356
90        Yelahanka , Bangalore  , Karnataka , India   13.100698  77.596345
91   Sahakara Nagar , Bangalore  , Karnataka , India   13.062147  77.580061
92           Peenya , Bangalore  , Karnataka , India   13.032942  77.527325

[93 rows x 3 columns]

In [ ]:
### lets create Heatmap of this results so that it becomes more user-friendly..
## now In order to perform Spatial Anlysis(Geographical Analysis) , we need latitudes & longitudes of every location..

### so lets merge both the dataframes or append one into another in order to get geographical co-ordinates..
heatmap_df = north_india_rest_count.merge(locations , on='name' , how='left')

In [ ]:
heatmap_df

,name,count,latitude,longitude
0,"BTM , Bangalore , Karnataka , India",2469,12.911276,77.604565
1,"HSR , Bangalore , Karnataka , India",1123,12.911623,77.638862
2,"Whitefield , Bangalore , Karnataka , India",1059,12.969637,77.749745
3,"Marathahalli , Bangalore , Karnataka , India",1038,12.955257,77.698416
4,"JP Nagar , Bangalore , Karnataka , India",958,12.880358,77.579658
...,...,...,...,...
85,"Hebbal , Bangalore , Karnataka , India",4,13.038218,77.591900
86,"Jakkur , Bangalore , Karnataka , India",3,13.078474,77.606894
87,"Central Bangalore , Bangalore , Karnataka , I...",2,13.010129,77.554801
88,"West Bangalore , Bangalore , Karnataka , India",1,13.022235,77.567183
89,"Peenya , Bangalore , Karnataka , India",1,13.032942,77.527325

In [ ]:
import folium

In [ ]:
basemap = folium.Map()

In [ ]:
basemap

In [ ]:
heatmap_df.columns

Index(['name', 'count', 'latitude', 'longitude'], dtype='object')

In [ ]:
from folium.plugins import HeatMap

In [ ]:
HeatMap(heatmap_df[['latitude', 'longitude' , "count"]]).add_to(basemap)

In [ ]:
basemap

**conclusions::**

Based on the analysis of the restaurant data, the following conclusions can be drawn:

The majority of restaurants are located in central Bangalore, indicating that this area is popular for dining out.
As we move away from the central area, the number of restaurants decreases, resulting in less competition for restaurant owners in those locations.
These observations can be helpful for potential restaurant entrepreneurs who are looking to start a new venture in Bangalore as they can use this information to find suitable locations.
It should be noted that the heatmap is a useful visualization tool when we have geographic coordinates or when we want to represent the density or frequency of a particular feature in a given area.

## 9.. How to automate the task :

For above problems - Lets Automate our Analysis :(bcz writing same 100 LOC again makes no sense .. )
So whenever automation comes into picture  , lets design a function :

#### lets automate all these for cuisuines

In [ ]:
def get_heatmap(cuisine):
    cuisine_df = df[df['cuisines'].str.contains(cuisine)]
    
    cuisine_rest_count = cuisine_df['location'].value_counts().reset_index().rename(columns={'index':'name' , "location":"count"})
    heatmap_df = cuisine_rest_count.merge(locations , on='name' , how='left')
    print(heatmap_df.head(4))
    
    basemap = folium.Map()
    HeatMap(heatmap_df[['latitude', 'longitude' , "count"]]).add_to(basemap)
    return basemap

In [ ]:
get_heatmap('South Indian')

                                          name  count   latitude  longitude
0        BTM , Bangalore  , Karnataka , India     815  12.911276  77.604565
1   JP Nagar , Bangalore  , Karnataka , India     437  12.880358  77.579658
2        HSR , Bangalore  , Karnataka , India     436  12.911623  77.638862
3  Jayanagar , Bangalore  , Karnataka , India     416  12.929273  77.582423

In [ ]:
df['cuisines'].unique()

array(['North Indian, Mughlai, Chinese', 'Chinese, North Indian, Thai',
       'Cafe, Mexican, Italian', ...,
       'North Indian, Street Food, Biryani', 'Chinese, Mughlai',
       'North Indian, Chinese, Arabian, Momos'], dtype=object)